<template>
    <card :title="$t('add_course')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('course_created')" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('title') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.title" :class="{ 'is-invalid': form.errors.has('title') }" class="form-control" type="text" name="title">
                            <has-error :form="form" field="title" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('city') }}</label>
                        <div class="col-md-7">
                            <select v-model="form.city_id" @change="getFacilities" :class="{ 'is-invalid': form.errors.has('city_id') }" class="form-control" name="city_id">
                                <option 
                                v-for="city in cities"
                                :key="city.id"
                                :value="city.id">
                                {{ city.name }}
                                </option>
                            </select>
                            <has-error :form="form" field="city_id" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('facility') }}</label>
                        <div class="col-md-7">
                            <select v-model="form.facility_id" :class="{ 'is-invalid': form.errors.has('facility_id') }" class="form-control" name="facility_id">
                                <option 
                                v-for="facility in facilities"
                                :key="facility.id"
                                :value="facility.id">
                                {{ facility.name }}
                                </option>
                            </select>
                            <has-error :form="form" field="facility_id" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('employees') }}</label>
                        <div class="col-md-7">
                            <multiselect 
                                v-model="employees" 
                                tag-placeholder="Select Employees" 
                                placeholder="Search Employees" 
                                label="name" 
                                track-by="id" 
                                tag-position="bottom"
                                :options="options" 
                                :multiple="true" 
                                :taggable="true" 
                                :class="{ 'is-invalid': form.errors.has('employees') }"
                                @tag="addTag"></multiselect>
                            <has-error :form="form" field="employee_id" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('rank') }}</label>
                        <div class="col-md-7">
                            <select v-model="form.rank_id" :class="{ 'is-invalid': form.errors.has('rank_id') }" class="form-control" name="rank_id">
                                <option 
                                v-for="rank in ranks"
                                :key="rank.id"
                                :value="rank.id">
                                {{ rank.name }} <span v-if="rank.division_id">- ( {{ rank.division.name }} )</span>
                                </option>
                            </select>
                            <has-error :form="form" field="rank_id" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="success">
                                {{ $t('add_course') }}
                            </v-button>
                        </div>
                    </div>    

                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import axios from 'axios'
import Multiselect from 'vue-multiselect'

export default {
    scrollToTop: false,
    components: {
        Multiselect
    },
    mounted(){
        this.getCities()
        this.getEmployees()
        this.pullRanks()
    },
    metaInfo () {
        return { title: this.$t('add_course') }
    },

    data: () => ({
        facilities: {},
        ranks: {},
        cities: {},
        form: new Form({
            title: '',
            facility_id: '',
            employees: [],
            rank_id: '',
            city_id: '',
        }),
        employees: [],
        options:[]
    }),

    methods: {
        addTag(user) {
            const tag = {
                name: user.name,
                id: user.id
            }
            this.options.push(tag)
            this.form.employees.push(user.id)
        },
        pullRanks(){
            axios.get('/api/getranks')
            .then(({ data }) =>{
                this.ranks = data;
            }).catch(()=>{console.log("Error...")})
        },
        getCities()
        {
            axios.get('/api/getcities')
            .then(response => {
                this.cities = response.data;
            });
        },
        getFacilities()
        {
            axios.get('/api/getfacilities?city_id='+this.form.city_id)
            .then(response => {
                this.facilities = response.data;
            });
        },

        getEmployees()
        {
            axios.get('/api/getemployees')
            .then(response => {
                response.data.forEach(el => {
                    this.options.push({
                        id: el.id,
                        name: el.first_name+' '+el.last_name,
                    });
                });
            });
        },

        async update () {
            var ids = [];
            this.employees.forEach(el => {ids.push(el.id);});
            this.form.employees = ids;
            await this.form.post('/api/courses')
                .then(({ data }) => { 
                    this.form.reset();
                    this.employees = [];
                })
                .catch(()=>{
                  console.log("Error...")
                })

        }
    }
}
</script>
