<template>
    <card :title="$t('courses')">

        <div class="card-content">
            <div v-if="pulling">
                <div align="center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div v-else>
                <table v-if="hasData" class="table table-hover animated fadeIn">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Facility</th>
                            <th>Employee</th>
                            <th>Modify</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr v-for="item in tabledata.data" :key="item.id">
                            <td>{{ item.id }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.facility.name }}</td>
                            <td v-html="employeeList(item.users)"></td>
                            <td>
                                <router-link :to="{ name: 'overview.details', params:{ id: item.id } }" class="btn btn-sm btn-info mb-1">
                                    {{ $t('course_overview') }} <i class="mdi mdi-eye"></i>
                                </router-link>
                                
                                <a href="#" @click="editCourseModal(item)" class="btn btn-sm btn-success mb-1">
                                    {{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
                                </a>
                                
                                <a href="#" @click="deleteCourse(item.id)" class="btn btn-sm btn-danger mb-1">
                                    {{ $t('delete') }} <i class="mdi mdi-close"></i>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning" role="alert" v-else>
                    {{ $t('no_records') }}
                </div>
                <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
            </div>
        </div>

        <div class="modal fade" id="editCourse" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="addNewLabel">{{ $t('update_course') }}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateCourse">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">Title</label>
                                <input v-model="form.title" type="text" name="title"
                                placeholder="Title"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                                <has-error :form="form" field="title"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">Facility</label>
                                <select v-model="form.facility_id" :class="{ 'is-invalid': form.errors.has('facility_id') }" class="form-control" name="facility_id">
                                    <option 
                                    v-for="facility in facilities"
                                    :key="facility.id"
                                    :value="facility.id">
                                    {{ facility.name }}
                                    </option>
                                </select>
                                <has-error :form="form" field="facility_id" />
                            </div>

                            <div class="form-group">
                                <label for="">Employee</label>
                                <multiselect 
                                    v-model="employees" 
                                    tag-placeholder="Select Employee" 
                                    placeholder="Search Employee" 
                                    label="name" 
                                    track-by="id" 
                                    tag-position="bottom"
                                    :options="options" 
                                    :multiple="true" 
                                    :taggable="true" 
                                    :class="{ 'is-invalid': form.errors.has('employees') }"
                                    @tag="addTag"></multiselect>
                                <has-error :form="form" field="employees" />
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('rank') }}</label>
                                <select v-model="form.rank_id" :class="{ 'is-invalid': form.errors.has('rank_id') }" class="form-control" name="rank_id">
                                    <option 
                                    v-for="rank in ranks"
                                    :key="rank.id"
                                    :value="rank.id">
                                    {{ rank.name }} <span v-if="rank.division_id">- ({{ rank.division.name }})</span>
                                    </option>
                                </select>
                                <has-error :form="form" field="rank_id" />
                            </div>
                      
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button type="submit" class="btn btn-primary">{{ $t('update') }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'
import Multiselect from 'vue-multiselect'

export default {
    scrollToTop: false,
    components: {
        Multiselect
    },
    mounted(){
        this.loadTableData()
        this.getFacilities()
        this.getEmployees()
        this.pullRanks()
    },

    metaInfo () {
        return { title: this.$t('courses') }
    },

    data: () => ({
        hasData: false,
        pulling: true,
        tabledata: {},
        facilities: {},
        ranks: {},
        form: new Form({
            id: '',
            title: '',
            facility_id: '',
            employees: [],
            rank_id: '',
            city_id: '',
        }),
        employees: [],
        options:[]
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        employeeList(list){
            var ret = '';
            var l = list.length;
            var c=1;
            list.forEach(el => {
                var comma = (c==l) ? '':', ';
                ret += el.first_name+' '+el.last_name+comma;
                c++;
            });

            return ret;
        },
        addTag(user) {
            const tag = {
                name: user.name,
                id: user.id
            }
            this.options.push(tag)
            this.form.employees.push(user.id)
        },
        pullRanks(){
            axios.get('/api/getranks')
            .then(({ data }) =>{
                this.ranks = data;
            }).catch(()=>{console.log("Error...")})
        },
        getFacilities()
        {
            axios.get('/api/getfacilities')
            .then(response => {
                this.facilities = response.data;
            });
        },

        getEmployees()
        {
            axios.get('/api/getemployees')
            .then(response => {
                response.data.forEach(el => {
                    this.options.push({
                        id: el.id,
                        name: el.first_name+' '+el.last_name,
                    });
                });
            });
        },
        loadTableData()
        {
            this.pulling = true;
            axios.get('/api/courses')
            .then(({ data }) =>{ 
                this.tabledata = data.data;
                this.hasData = (data.data.data.length>0) ? true : false;
                this.pulling = false;
            })
            .catch(()=>{
              console.log("Error...")
              this.pulling = false;
            })
        },
        getResults(page = 1) {
            this.pulling = true;
            axios.get('/api/courses?page=' + page)
            .then(response => {
              this.tabledata = response.data.data;
              this.pulling = false;
          });
        },
        editCourseModal(item){
           this.form.clear();
           this.form.reset();
           this.form.fill(item);
           this.employees = [];
           item.users.forEach(el => {
                this.employees.push({
                    id: el.id,
                    name: el.first_name+' '+el.last_name,
                });
            });
           $('#editCourse').modal('show');
        },
        updateCourse(item){
            var ids = [];
            this.employees.forEach(el => {ids.push(el.id);});
            this.form.employees = ids;
            this.form.patch('/api/courses/'+this.form.id)
            .then(response => {

                this.loadTableData();
                $('#editCourse').modal('hide');
            })
            .catch(()=>{
                console.log("Error.....")
            })
        },
        deleteCourse(id){

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                      
              if (result.value) {
                
                this.form.delete('/api/courses/'+id)
                    .then((response)=> {
                            Swal.fire(
                              'Deleted!',
                              'Course deleted successfully',
                              'success'
                            )
                    this.loadTableData();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        }
    }
}
</script>
