<template>
    <card :title="$t('create_exam')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('exam_created')" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                            <has-error :form="form" field="name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('requirements') }}</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <input type="text" class="form-control" id="requirements" placeholder="Wood, Belt etc..">
                                <div class="input-group-append">
                                    <button @click="addRequirement" class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
                                </div>
                            </div>
                            <has-error :form="form" field="requirements" />
                            <div>
                                <a href="#" class="badge badge-pill badge-info" style="margin-right:5px;" v-for="req in form.requirements" :key="req" @click="removeArr(req)">
                                    {{ req }} <i class="mdi mdi-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('rank') }}</label>
                        <div class="col-md-7">
                            <select @change="pullCatAndCourses" v-model="form.rank_id" :class="{ 'is-invalid': form.errors.has('rank_id') }" class="form-control" name="rank_id">
                                <option v-for="rank in ranks" :key="rank.id" :data-division="rank.division_id" :value="rank.id">
                                    {{ rank.name }} <span v-if="rank.division_id">- ({{ rank.division.name }})</span>
                                </option>
                            </select>
                            <has-error :form="form" field="rank_id" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('category') }}</label>
                        <div class="col-md-7">
                            <select :disabled="categories.length==0" v-model="form.category_id" :class="{ 'is-invalid': form.errors.has('category_id') }" class="form-control" name="category_id">
                                <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
                            </select>
                            <has-error :form="form" field="category_id" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="success">
                                {{ $t('create_exam') }}
                            </v-button>
                        </div>
                    </div>    

                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import axios from 'axios'

export default {

    scrollToTop: false,

    mounted(){
        this.pullRanks();
    },

    metaInfo () {
        return { title: this.$t('create_exam') }
    },

    data: () => ({
        form: new Form({
            name: '',
            requirements: [],
            rank_id:'',
            category_id:'',
            course_id:'',
        }),
        ranks: [],
        categories: [],
    }),

    methods: {
        removeArr(item){
            const index = this.form.requirements.indexOf(item);
            if (index > -1) {
              this.form.requirements.splice(index, 1);
            }
        },
        addRequirement(){
            var i = $('#requirements').val();
            if (i!='') {
                this.form.requirements.push(i);
                $('#requirements').val('');
            }
        },
        
        pullRanks(){
            axios.get('/api/getranks')
            .then(({ data }) =>{
                this.ranks = data;
            }).catch(()=>{console.log("Error...")})
        },

        pullCatAndCourses(e){
            this.courses = [];
            this.categories = [];
            this.pullCategories(e.target.options[e.target.options.selectedIndex].dataset.division);
        },

        pullCategories(division){
            axios.get('/api/getcategories?division='+division)
            .then(({ data }) =>{
                this.categories = data;
            }).catch(()=>{console.log("Error...")})
        },

        async update () {

            await this.form.post('/api/exams')
            .then(({ data }) => { 
                console.log( data );
                this.form.reset();
            }).catch(()=>{console.log("Error...")})

        }
    }
}
</script>
