<template>
    <card :title="$t('exams')">

        <div class="card-content">
            <div v-if="pulling">
                <div align="center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div v-else>
                <div v-if="hasData">            
                    <table class="table table-hover animated fadeIn">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>{{ $t('name') }}</th>
                                <th>{{ $t('requirements') }}</th>
                                <th>{{ $t('rank') }}</th>
                                <th>{{ $t('division') }}</th>
                                <th>{{ $t('category') }}</th>
                                <th>{{ $t('course') }}</th>
                                <th>{{ $t('modify') }}</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr v-for="item in tabledata.data" :key="item.id">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>
                                    <span class="badge badge-info badge-pill" style="margin-right:5px;" v-for="req in item.requirements" :key="req">
                                        {{ req }}
                                    </span>
                                </td>
                                <td>{{ item.rank.name }}</td>
                                <td>
                                    <span v-if="item.rank.division_id">
                                        {{ item.rank.division.name }}
                                    </span>
                                </td>
                                <td>{{ item.category.name }}</td>
                                <td>{{ item.course.title }}</td>
                                <td>
                                    <a href="#" @click="editExamModal(item)" class="btn btn-sm btn-success mb-1">
                                        {{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
                                    </a>
                                    
                                    <a href="#" @click="deleteExam(item.id)" class="btn btn-sm btn-danger mb-1">
                                        {{ $t('delete') }} <i class="mdi mdi-close"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
                </div>
                <div class="alert alert-warning" role="alert" v-else>
                    {{ $t('no_records') }}
                </div>
            </div>
        </div>

        <div class="modal fade" id="editExam" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="addNewLabel">{{ $t('update_exam') }}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateExam">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">{{ $t('name') }}</label>
                                <input v-model="form.name" type="text" name="name"
                                placeholder="Name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('requirements') }}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="requirements" placeholder="Wood, Belt etc..">
                                    <div class="input-group-append">
                                        <button @click="addRequirement" class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
                                    </div>
                                </div>
                                <has-error :form="form" field="requirements"></has-error>
                                <div>
                                    <a href="#" class="badge badge-pill badge-info" style="margin-right:5px;" v-for="req in form.requirements" :key="req" @click="removeArr(req)">
                                        {{ req }} <i class="mdi mdi-close"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('rank') }}</label>
                                <select @change="pullMainExams" v-model="form.rank_id" :class="{ 'is-invalid': form.errors.has('rank_id') }" class="form-control">
                                    <option v-for="rank in ranks" :key="rank.id" :data-division="rank.division_id" :value="rank.id">
                                        {{ rank.name }} <span v-if="rank.division_id">- ({{ rank.division.name }})</span>
                                    </option>
                                </select>
                                <has-error :form="form" field="rank_id"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('category') }}</label>
                                <select v-model="form.category_id" :class="{ 'is-invalid': form.errors.has('category_id') }" class="form-control">
                                    <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
                                </select>
                                <has-error :form="form" field="category_id"></has-error>
                            </div>
                      
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button type="submit" class="btn btn-primary">{{ $t('update') }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    scrollToTop: false,

    mounted(){
        this.loadTableData()
        this.pullRanks()
    },

    metaInfo () {
        return { title: this.$t('exams') }
    },

    data: () => ({
        hasData: false,
        pulling: true,
        tabledata: {},
        form: new Form({
            id:'',
            name: '',
            requirements: [],
            rank_id:'',
            category_id:''
        }),
        ranks: {},
        categories: {},
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        removeArr(item){
            const index = this.form.requirements.indexOf(item);
            if (index > -1) {
              this.form.requirements.splice(index, 1);
            }
        },
        addRequirement(){
            var i = $('#requirements').val();
            if (i!='') {
                this.form.requirements.push(i);
                $('#requirements').val('');
            }
        },
        pullRanks(){
            axios.get('/api/getranks')
            .then(({ data }) =>{
                this.ranks = data;
            }).catch(()=>{console.log("Error...")})
        },

        pullMainExams(e){
            this.pullCategories(e.target.options[e.target.options.selectedIndex].dataset.division);
        },

        pullCategories(division=''){
            axios.get('/api/getcategories?division='+division)
            .then(({ data }) =>{
                this.categories = data;
            }).catch(()=>{console.log("Error...")})
        },
        loadTableData()
        {
            this.pulling = true;
          axios.get('/api/exams')
            .then(({ data }) =>{ 
                this.tabledata = data.data;
                this.hasData = (data.data.data.length>0) ? true : false;
                this.pulling = false;
            })
            .catch(()=>{
                console.log("Error...")
                this.pulling = false;
            })
        },
        getResults(page = 1) {
          axios.get('/api/exams?page=' + page)
            .then(response => {
              this.tabledata = response.data.data;
          });
        },
        editExamModal(item){
           this.form.clear();
           this.form.reset();
           this.form.fill(item);
           this.pullCategories(item.rank.division_id);
           $('#editExam').modal('show');
        },
        updateExam(item){

            this.form.patch('/api/exams/'+this.form.id)
            .then(response => {

                this.loadTableData();
                $('#editExam').modal('hide');
            })
            .catch(()=>{
                console.log("Error.....")
            })
        },
        deleteExam(id){

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                      
              if (result.value) {
                
                this.form.delete('/api/exams/'+id)
                    .then((response)=> {

                        Swal.fire(
                          'Deleted!',
                          'Exam deleted successfully',
                          'success'
                        )

                    this.loadTableData();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        }
    }
}
</script>
