<template>
    <card :title="$t('add_category')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('category_created')" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                            <has-error :form="form" field="name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('min_points') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.min_points" :class="{ 'is-invalid': form.errors.has('min_points') }" class="form-control" type="text" name="min_points">
                            <has-error :form="form" field="min_points" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('division') }}</label>
                        <div class="col-md-7">
                            <select :disabled="divisions.length==0" v-model="form.division_id" name="division_id" class="form-control" :class="{ 'is-invalid': form.errors.has('division_id') }">
                                <option 
                                    v-for="division in divisions"
                                    :key="division.id"
                                    :value="division.id">
                                    {{ division.name }}
                                    </option>
                            </select>
                            <has-error :form="form" field="division_id"></has-error>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="success">
                                {{ $t('add_category') }}
                            </v-button>
                        </div>
                    </div>    

                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import axios from 'axios'

export default {
    scrollToTop: false,

    metaInfo () {
        return { title: this.$t('add_category') }
    },

    mounted(){
        this.getDivisions();
    },

    data: () => ({
        form: new Form({
            name: '',
            division_id: '',
            min_points: 30
        }),
        divisions: [],
    }),

    methods: {
        getDivisions()
        {
            axios.get('/api/getdivisions')
            .then(response => {
                this.divisions = response.data;
            });
        },
        async update () {

            await this.form.post('/api/categories')
            .then(({ data }) => { 
                this.form.reset()
            })
            .catch(()=>{
              console.log("Error...")
            })

        }
    }
}
</script>
