<template>
    <card :title="$t('categories')">

        <div class="card-content">
            <div v-if="pulling">
                <div align="center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div v-else>
                <div v-if="hasData">            
                    <table class="table table-hover animated fadeIn">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>{{ $t('name') }}</th>
                                <th>{{ $t('min_points') }}</th>
                                <th>{{ $t('division') }}</th>
                                <th>{{ $t('modify') }}</th>
                            </tr> 
                        </thead>
                        <tbody>

                            <tr v-for="item in tabledata.data" :key="item.id">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.min_points }}</td>
                                <td>
                                    <span v-if="item.division_id">{{ item.division.name }}</span>
                                </td>
                                <td>
                                    <a href="#" @click="editCategoryModal(item)" class="btn btn-sm btn-success mb-1">
                                        {{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
                                    </a>
                                    
                                    <a href="#" @click="deleteCategory(item.id)" class="btn btn-sm btn-danger mb-1">
                                        {{ $t('delete') }} <i class="mdi mdi-close"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
                </div>
                <div class="alert alert-warning" role="alert" v-else>
                    {{ $t('no_records') }}
                </div>
            </div>
        </div>

        <div class="modal fade" id="editCategory" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="addNewLabel">{{ $t('update_category') }}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateCategory">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">{{ $t('name') }}</label>
                                <input v-model="form.name" type="text" name="name"
                                placeholder="Name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('min_points') }}</label>
                                <input v-model="form.min_points" type="text" name="min_points"
                                placeholder="30"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('min_points') }">
                                <has-error :form="form" field="min_points"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('division') }}</label>
                                <select v-model="form.division_id" name="division_id" class="form-control" :class="{ 'is-invalid': form.errors.has('division_id') }">
                                    <option 
                                        v-for="division in divisions"
                                        :key="division.id"
                                        :value="division.id">
                                        {{ division.name }}
                                        </option>
                                </select>
                                <has-error :form="form" field="division_id"></has-error>
                            </div>
                      
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button type="submit" class="btn btn-primary" :disabled="btn=='updating'">{{ $t(btn) }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    scrollToTop: false,

    mounted(){
        this.loadTableData()
    },

    metaInfo () {
        return { title: this.$t('categories') }
    },

    data: () => ({
        hasData: false,
        pulling: true,
        tabledata: {},
        form: new Form({
            id: '',
            name : '',
            division_id:'',
            min_points: ''
        }),
        divisions: [],
        btn: 'update'
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        getDivisions()
        {
            axios.get('/api/getdivisions')
            .then(response => {
                this.divisions = response.data;
            });
        },
        loadTableData()
        {
            this.pulling = true;
            axios.get('/api/categories')
            .then(({ data }) =>{ 
                this.tabledata = data.data;
                this.hasData = (data.data.data.length>0) ? true : false;
                this.pulling = false;
            })
            .catch(()=>{
              console.log("Error...")
            })
        },
        getResults(page = 1) {
            this.pulling = true;
            axios.get('/api/categories?page=' + page)
            .then(response => {
              this.tabledata = response.data.data;
              this.pulling = false;
          });
        },
        editCategoryModal(item){
           this.form.clear();
           this.form.reset();
           this.form.fill(item);
           this.getDivisions();
           $('#editCategory').modal('show');
        },
        updateCategory(item){
            this.btn = 'updating';
            this.form.patch('/api/categories/'+this.form.id)
                .then(response => {
                    this.btn = 'update';
                    this.loadTableData();
                    $('#editCategory').modal('hide');
                })
                .catch(()=>{
                  console.log("Error.....");
                  this.btn = 'update';
                })
        },
        deleteCategory(id){

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                      
              if (result.value) {
                
                this.form.delete('/api/categories/'+id)
                    .then((response)=> {

                        Swal.fire(
                            'Deleted!',
                            'Category deleted successfully',
                            'success'
                        )

                        this.loadTableData();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        }
    }
}
</script>
