<template>
    <card :title="$t('create_user')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('user_created')" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('first_name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('first_name') }" class="form-control" type="text" name="first_name">
                            <has-error :form="form" field="first_name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('last_name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
                            <has-error :form="form" field="last_name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="text" name="email">
                            <has-error :form="form" field="email" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('new_password') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
                            <has-error :form="form" field="password" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
                            <has-error :form="form" field="password_confirmation" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('street') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.street" :class="{ 'is-invalid': form.errors.has('street') }" class="form-control" type="text" name="street">
                            <has-error :form="form" field="street" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('street_no') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.street_no" :class="{ 'is-invalid': form.errors.has('street_no') }" class="form-control" type="number" name="street_no">
                            <has-error :form="form" field="street_no" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('city') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.city" :class="{ 'is-invalid': form.errors.has('city') }" class="form-control" type="text" name="city">
                            <has-error :form="form" field="city" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('zip') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.zip" :class="{ 'is-invalid': form.errors.has('zip') }" class="form-control" type="number" name="zip">
                            <has-error :form="form" field="zip" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('phone') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="text" name="phone">
                            <has-error :form="form" field="phone" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('role') }}</label>
                        <div class="col-md-7">
                            <select v-model="form.role" :class="{ 'is-invalid': form.errors.has('role') }" class="form-control" name="role">
                                <option 
                                v-for="item in roles"
                                :key="item.id"
                                v-bind:value="item.slug"
                                :selected="item.slug=='customer'">
                                {{ item.name }}
                            </option>
                        </select>
                        <has-error :form="form" field="role" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 ml-md-auto">
                        <v-button :loading="form.busy" type="success">
                            {{ $t('create_user') }}
                        </v-button>
                    </div>
                </div>    

            </div>
        </div>

    </form>
</card>
</template>

<script>
import Form from 'vform'
import axios from 'axios'

export default {
    middleware: 'auth',
    scrollToTop: false,

    mounted(){
        this.getRoles()
    },

    metaInfo () {
        return { title: this.$t('create_user') }
    },

    data: () => ({
        roles: {},
        form: new Form({
            first_name: '',
            last_name: '',
            password: '',
            password_confirmation: '',
            street: '',
            street_no: '',
            zip: '',
            city: '',
            phone: '',
            image: '',
            course_id: '',
            customer_id: '',
            role: 'customer',
        })
    }),

    methods: {
        async update () {
            await this.form.post('/api/users')
                .then(({ data }) => { 
                    this.form.reset()
                })
                .catch(()=>{
                  console.log("Error...")
                })

        },
        getRoles(){
            axios.get('/api/getroles')
            .then(response => {
                this.roles = response.data;
            });
        },
    }
}
</script>
