<template>
    <card :title="$t('import_users')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)" enctype="multipart/form-dat">
            <div v-if="success" class="alert alert-success" role="alert">
              {{ $t('users_imported') }}
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('select_csv_file') }}</label>
                <div class="col-md-7">
                    <input type="file" id="file" ref="csv" name="csv" class="form-control" :class="{ 'is-invalid': form.errors.has('csv') }" @change='handleFileUpload'/>
                    <has-error :form="form" field="csv" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-9 ml-md-auto">
                    <v-button :loading="uploading" type="success">
                        {{ $t(importbtn) }}
                    </v-button>
                </div>
            </div>
        </form>
    </card>
</template>

<script>
import Form from 'vform'
import axios from 'axios'

export default {
    middleware: 'auth',
    scrollToTop: false,

    metaInfo () {
        return { title: this.$t('import_users') }
    },

    data: () => ({
        csvfile: '',
        importbtn: 'import_users',
        form: new Form({
            csv:''
        }),
        formData: new FormData(),
        uploading: false,
        success: false
    }),

    methods: {

        async update () {

            if (this.csvfile == '') {

                aler('Please select a valid csv file.');

            } else {
                
                this.formData.append('csv', this.csvfile);

                this.uploading = true;
                this.importbtn = 'importing_users';

                axios.post('/api/users/import',
                    this.formData, {headers: {'Content-Type': 'multipart/form-data'}}
                ).then(function(data) {

                    this.uploading = false;
                    $('[name="csv"]').val('');
                    this.success = true;

                    this.importbtn = 'import_users';

                }.bind(this)).catch(function(data) {
                    console.log('error');
                });   
            }

        },
        handleFileUpload(e){

            if (e.target.files.length > 0) 
            {
                let file = e.target.files[0];
                let reader = new FileReader();

                if(file['size'] < 10485760)
                {
                    if (file['type']=='text/csv') {

                        this.csvfile = file;

                    } else {

                        alert('File should be a valid CSV file.')
                        this.csvfile = '';
                    }       

                }else{

                    alert('File size can not be bigger than 10 MB')
                }
            }
        },

    }
}
</script>
