<template>
    <card :title="$t('user_list')">

        <div class="card-content">
            <form class="form-inline" @submit.prevent="filterUsers">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{ $t('show') }}</span>
                    </div>
                    <input type="number" v-model="userFilter.perpage" class="form-control" aria-label="perpage" aria-describedby="basic-addon1">
                </div>
                
                &nbsp;
                <div class="input-group">
                    <select class="form-control" v-model="userFilter.role">
                        <option value="">{{ $t('select_role') }}</option>
                        <option value="trainee">{{ $t('trainee') }}</option>
                        <option value="customer">{{ $t('customer') }}</option>
                        <option value="employee">{{ $t('employee') }}</option>
                        <option value="admin">{{ $t('admin') }}</option>
                    </select>
                </div>
                &nbsp;
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{ $t('search') }}</span>
                    </div>
                    <input type="text" v-model="userFilter.search" class="form-control" aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-info">{{ $t('filter') }}</button>
            </form>

            <hr>

            <div v-if="pulling">
                <div align="center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div v-else>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>{{ $t('name') }}</th>
                            <th>{{ $t('role') }}</th>
                            <th>{{ $t('points') }}</th>
                            <th>{{ $t('rank') }}</th>
                            <th>{{ $t('modify') }}</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr v-for="item in tabledata.data" :key="item.id">
                            <td>{{ item.id }}</td>
                            <td>{{ item.first_name+' '+item.last_name }}</td>
                            <td>{{ (item.roles.length>0) ? item.roles[0].name : '' }}</td>
                            <td>{{ item.roles[0].slug=='trainee' ? item.points:'' }}</td>
                            <td>
                                <span v-if="(item.rank)">
                                    {{ item.roles[0].slug=='trainee' ? item.rank.name:'' }}
                                </span>
                            </td>
                            <td>
                                <a href="#" @click="editUserModal(item)" class="btn btn-sm btn-success mb-1">
                                    {{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
                                </a>

                                <router-link :to="{ name: 'users.profile', params:{ id: item.id } }" class="btn btn-sm btn-info mb-1" style="color:#fff;">
                                    {{ $t('profile') }} <i class="mdi mdi-account"></i>
                                </router-link>
                                
                                <a v-if="item.roles[0].slug=='customer'" @click="editTraineeModal(item)" class="btn btn-sm btn-warning mb-1" style="color:#fff;">
                                    {{ $t('manage_trainees') }} <i class="mdi mdi-account-edit"></i>
                                </a>
                                
                                <a href="#" @click="deleteUser(item.id)" class="btn btn-sm btn-danger mb-1">
                                    {{ $t('delete') }} <i class="mdi mdi-close"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination :limit="5" :data="tabledata" @pagination-change-page="userPaginate"></pagination>
            </div>
        </div>

        <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="addNewLabel">{{ $t('update_user') }}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateUser">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">

                                    <div class="form-group">
                                        <label for="">{{ $t('first_name') }}</label>
                                        <input v-model="form.first_name" type="text" name="first_name"
                                        placeholder="First Name"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                                        <has-error :form="form" field="first_name"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <label for="">{{ $t('street') }}</label>
                                        <input v-model="form.street" type="text" name="street"
                                        placeholder="Street"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('street') }">
                                        <has-error :form="form" field="street"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <label for="">{{ $t('email') }}</label>
                                        <input v-model="form.email" type="email" name="email"
                                        placeholder="First Name"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <label for="">{{ $t('city') }}</label>
                                        <input v-model="form.city" type="text" name="city"
                                        placeholder="City"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('city') }">
                                        <has-error :form="form" field="city"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <label for="">{{ $t('role') }}</label>
                                        <select @change="roleCheck" v-model="form.role" :class="{ 'is-invalid': form.errors.has('role') }" class="form-control" name="role">
                                            <option 
                                            v-for="role in roles"
                                            :key="role.id"
                                            :value="role.slug">
                                            {{ role.name }}
                                            </option>
                                        </select>
                                        <has-error :form="form" field="role" />
                                    </div>

                                </div>
                                <div class="col">

                                    <div class="form-group">
                                        <label for="">{{ $t('last_name') }}</label>
                                        <input v-model="form.last_name" type="text" name="last_name"
                                        placeholder="Last Name"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                                        <has-error :form="form" field="last_name"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <label for="">{{ $t('street_no') }}</label>
                                        <input v-model="form.street_no" type="number" name="street_no"
                                        placeholder="Street no."
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('street_no') }">
                                        <has-error :form="form" field="street_no"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <label for="">{{ $t('zip') }}</label>
                                        <input v-model="form.zip" type="number" name="zip"
                                        placeholder="Zip"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('zip') }">
                                        <has-error :form="form" field="zip"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <label for="">{{ $t('phone') }}</label>
                                        <input v-model="form.phone" type="text" name="phone"
                                        placeholder="Phone"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                        <has-error :form="form" field="phone"></has-error>
                                    </div>

                                    <div v-if="istrainee" class="form-group">
                                        <label for="">{{ $t('rank') }}</label>
                                        <select @change="getCourses" v-model="form.rank_id" :class="{ 'is-invalid': form.errors.has('rank_id') }" class="form-control" name="rank_id">
                                            <option 
                                            v-for="rank in ranks"
                                            :key="rank.id"
                                            :value="rank.id">
                                            {{ rank.name }} <span v-if="rank.division_id">- ({{ rank.division.name }})</span>
                                            </option>
                                        </select>
                                        <has-error :form="form" field="rank_id" />
                                    </div>

                                    <div v-if="istrainee" class="form-group">
                                        <label for="">{{ $t('course') }}</label>
                                        <select v-model="form.course_id" :class="{ 'is-invalid': form.errors.has('course_id') }" class="form-control" name="course_id">
                                            <option 
                                            v-for="course in courses"
                                            :key="course.id"
                                            :value="course.id">
                                            {{ course.title }}
                                            </option>
                                        </select>
                                        <has-error :form="form" field="course_id" />
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button :disabled="form.busy" type="submit" class="btn btn-primary">{{ $t('update') }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="manageTrainees" tabindex="-1" role="dialog" aria-labelledby="traineetitle" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="traineetitle">{{ $t('manage_trainees') }}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateTrainees">
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-4" v-for="trainee in trainees.data" :key="trainee.id">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" v-model="traineesForm.trainees" :value="trainee.id">
                                            </div>
                                        </div>
                                        <input type="text" :value="trainee.first_name+' '+trainee.last_name" class="form-control" disabled>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">

                            <div style="width:100%">
                                <div class="col">
                                    <pagination class="float-left" :limit="5" :data="trainees" @pagination-change-page="getTraineesPaginate"></pagination>
                                </div>
                                <div class="col">
                                    
                                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal">{{ $t('close') }}</button>
                                    <button :disabled="traineesForm.busy" type="submit" class="btn btn-primary float-right" style="margin-right:15px;">{{ $t('update') }}</button>
                                </div>
                            </div>
                            
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    middleware: 'auth',
    scrollToTop: false,

    mounted(){
        this.loadTableData();
        this.getRoles();
        this.pullRanks();
    },

    metaInfo () {
        return { title: this.$t('user_list') }
    },

    data: () => ({
        empty: true,
        pulling: true,
        istrainee: false,
        ranks: {},
        roles: {},
        courses: {},
        tabledata: {},
        form: new Form({
            id: '',
            first_name : '',
            last_name: '',
            email:'',
            password:'',
            street:'',
            street_no:'',
            zip:'',
            city:'',
            phone:'',
            image:'',
            course_id:'',
            customer_id:'',
            role: '',
            rank_id: '',
        }),
        trainees: {},
        children: [],
        uid: '',
        traineesForm: new Form({
            trainees: []
        }),
        userFilter: {
            perpage: 10,
            role: '',
            search: ''
        }
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        roleCheck(){
            this.istrainee = (this.form.role=='trainee') ? true:false; 
        },
        pullRanks()
        {
            axios.get('/api/getranks')
            .then(response => {
                this.ranks = response.data;
            });
        },
        filterUsers(){
            axios.get('/api/users',{ params: this.userFilter })
                .then(response => {
                    this.tabledata = response.data.data;
                }).catch(()=>{console.log("Error.....")})
        },
        getRoles()
        {
            axios.get('/api/getroles')
            .then(response => {
                this.roles = response.data;
            });
        },
        getCourses()
        {
            axios.get('/api/getcourses?rank_id='+this.form.rank_id)
            .then(response => {
                this.courses = response.data;
            });
        },
        loadTableData()
        {
            this.pulling = true;
            axios.get('/api/users', { params: this.userFilter })
                .then(({ data }) =>{
                    this.tabledata = data.data;
                    this.pulling = false;
                })
                .catch(()=>{
                    console.log("Error...")
                    this.pulling = false;
                });
        },
        userPaginate(page = 1) {
            this.pulling = true;
            axios.get('/api/users?page=' + page, { params: this.userFilter } )
                .then(response => {
                this.tabledata = response.data.data;
                this.pulling = false;
            });
        },
        getTraineesPaginate(page = 1) {
            this.pulling = true;
            axios.get('/api/trainees/'+this.uid+'?page=' + page)
                .then(response => {
                this.trainees = response.data.data;
                this.pulling = false;
            });
        },
        editUserModal(item){
            this.form.clear();
            this.form.reset();
            axios.get('/api/users/'+item.id)
            .then(response => {
                item = response.data.data;
                this.form.role = item.role;
            });

            if(item.roles[0].slug == 'trainee'){
                this.istrainee = true;
            } else {
                this.istrainee = false;
            }

            $('#editUser').modal('show');
            this.form.fill(item);
            this.getCourses();
        },
        updateUser(item)
        {


            this.form.patch('/api/users/'+this.form.id)
                .then(response => {

                    this.loadTableData();
                    $('#editUser').modal('hide');
                })
                .catch(()=>{
                  console.log("Error.....")
                })
        },
        editTraineeModal(item){

            this.traineesForm.clear();
            this.traineesForm.reset();

            this.uid = item.id;
            
            axios.get('/api/trainees/'+item.id)
            .then(response => {

                this.trainees = response.data.data;
                this.traineesForm.trainees = response.data.children;
            });

            $('#manageTrainees').modal('show');
        },
        updateTrainees(item){

            this.traineesForm.post('/api/trainees/'+this.uid+'/assign')
            .then(response => {
                $('#manageTrainees').modal('hide');
            })
            .catch(()=>{
              console.log("Error.....")
            })
        },
        deleteUser(id){

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                      
              if (result.value) {
                //Send Request to server
                this.form.delete('/api/users/'+id)
                    .then((response)=> {
                        
                        Swal.fire('Deleted!','Photo deleted successfully','success')
                        this.loadTableData();

                    }).catch(() => {

                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        }
    }
}
</script>
