<template>
<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div v-if="trainee" class="card animated fadeIn">
            <div class="card-body">
                <center class="m-t-30"> 

                    <img v-if="trainee.image" class="rounded-circle" alt="" width="150" :src="img(trainee.image)">
                    <img v-else class="rounded-circle" alt="" width="150" :src="trainee.photo_url">

                    <div v-if="user.role=='admin'||user.role=='employee'">
                        <form @submit.prevent="update">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file" aria-describedby="fileupload" @change='handleFileUpload'/>
                                    <label class="custom-file-label" for="file">{{ $t('profile_picture') }}</label>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit" id="fileupload" :disabled="uploading">{{ $t('upload') }}</button>
                                </div>
                            </div>
                            <hr>
                        </form>
                    </div>
                    <h4 class="card-title m-t-10">{{ trainee.first_name+' '+trainee.last_name }}</h4>
                    <h6 class="card-subtitle">{{ trainee.email }}</h6>
                </center>
            </div>
            <div><hr></div>
            <div class="card-body"> 
            	<div v-if="trainee.city">
	                <small class="text-muted p-t-30 db">{{ $t('city') }}</small>
	                <h6>{{ trainee.city }}</h6>
                </div>
                <div v-if="trainee.zip">
	                <small class="text-muted p-t-30 db">{{ $t('zip') }}</small>
	                <h6>{{ trainee.zip }}</h6>
                </div>
                <div v-if="trainee.street">
	                <small class="text-muted">{{ $t('street') }}</small>
	                <h6>{{ trainee.street }}</h6> 
            	</div>
                <div v-if="trainee.street_no">
	                <small class="text-muted p-t-30 db">{{ $t('street_no') }}</small>
	                <h6>{{ trainee.street_no }}</h6> 
            	</div>
                <div v-if="trainee.phone">
	                <small class="text-muted p-t-30 db">{{ $t('phone') }}</small>
	                <h6>{{ trainee.phone }}</h6> 
            	</div>
                <div v-if="trainee.role=='trainee'">
            
                    <small class="text-muted p-t-30 db">{{ $t('rank') }}</small>
                    <br>
                    <h6>{{ $t('rank') }}: <b>{{ rank.name }}</b></h6>
                    <h6 v-if="rank.division_id">Division: <b>{{ rank.division.name }}</b></h6>
                    <h6>{{ $t('points') }}: <b>{{ trainee.points }} / {{ rank.max_points }}</b></h6>
                
                    <h6>{{ $t('date_started') }}: <b>{{ format_date(trainee.start_date) }}</b></h6>
                    <h6>{{ $t('grad_date') }}: <b>{{ format_date(trainee.end_date) }}</b></h6>

                </div>
            </div>
        </div>
    </div>
    <div v-if="trainee.role == 'trainee'" class="col-lg-8 col-xlg-9 col-md-7">
        <div v-if="course" class="card">
            <div class="card-body">
                <h4>{{ $t('attendance_logs') }} ({{ course.title }})</h4>
                <div v-if="hasTraininglogs">
                    <table class="table table-striped animated fadeIn">
                        <thead>
                            <tr>
                                <th>{{ $t('login_date_time') }}</th>
                                <th>{{ $t('facility') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="train in traininglogs.data" v-bind:key="train.id">
                                <td>{{ train.login_time }}</td>
                                <td>{{ course.facility.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination class="float-left" :limit="5" :data="traininglogs" @pagination-change-page="getUserLogsPage"></pagination>
                </div>
                <div class="alert alert-warning" role="alert" v-else>
                    {{ $t('no_records') }}
                </div>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a v-if="user.role=='admin'||user.role=='employee'" class="nav-item nav-link active" id="nav-exams-tab" data-toggle="tab" href="#nav-exams" role="tab" aria-controls="nav-exams" aria-selected="true">Available Exams</a>
                        <a v-bind:class="{ active: isCustomer }" class="nav-item nav-link" id="nav-exam-logs-tab" data-toggle="tab" href="#nav-exam-logs" role="tab" aria-controls="nav-exam-logs" aria-selected="false">User Exam Logs</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div v-if="user.role=='admin'||user.role=='employee'" class="tab-pane fade show active" id="nav-exams" role="tabpanel" aria-labelledby="nav-exams-tab">
                        <br>
                        <div v-if="hasExams">
                            <table class="table table-striped animated fadeIn">
                                <thead>
                                    <tr>
                                        <th>{{ $t('name') }}</th>
                                        <th>{{ $t('requirements') }}</th>
                                        <th v-if="user.role=='admin'||user.role=='employee'">{{ $t('modify') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="exam in examlist.data" :key="exam.id">
                                        <td>{{ exam.name }}</td>
                                        <td>
                                            <span class="badge badge-info badge-pill" style="margin-right:5px;" v-for="req in exam.requirements" :key="req">
                                                {{ req }}
                                            </span>
                                        </td>
                                        <td v-if="user.role=='admin'||user.role=='employee'">
                                            <a href="#" @click="takeTheTest(exam)" class="btn btn-sm btn-success mb-1">
                                                {{ $t('take_test') }} <i class="mdi mdi-run"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination class="float-left" :limit="5" :data="examlist" @pagination-change-page="getUserLogsPage"></pagination>
                        </div>
                        <div class="alert alert-warning" role="alert" v-else>
                            {{ $t('no_records') }}
                        </div>
                    </div>
                    <div v-bind:class="{ active: isCustomer, show: isCustomer }" class="tab-pane fade" id="nav-exam-logs" role="tabpanel" aria-labelledby="nav-exam-logs-tab">
                        <br>
                        <div v-if="hasExamlogs">
                            <table class="table table-striped animated fadeIn">
                                <thead>
                                    <tr>
                                        <th>{{ $t('category') }}</th>
                                        <th>{{ $t('exam') }}</th>
                                        <th>{{ $t('status') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="log in examlogs.data" :key="log.id">
                                        <td>{{ log.category.name }}</td>
                                        <td>{{ log.name }}</td>
                                        <td v-html="parseStatus(log.status)"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination class="float-left" :limit="5" :data="examlogs" @pagination-change-page="getUserLogsPage"></pagination>
                        </div>
                        <div class="alert alert-warning" role="alert" v-else>
                            {{ $t('no_records') }}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'
import moment from 'moment'

export default {
    middleware: 'auth',
	scrollToTop: false,
	mounted(){
        this.pullUserData();
    },
	data: () => ({
        image: '',
        uploading: false,
        success: false,
		trainee: {
            first_name:'',
            last_name:'',
            email:'',
        },
        course: {},
		rank: {},
        traininglogs: {},
        examlogs: {},
        examlist: {},
        hasTraininglogs: false,
        hasExamlogs: false,
        hasExams: false,
        isCustomer: false,
        formData: new FormData(),
        form: new Form({
            image: ''
        })
	}),
    metaInfo () {
        return { title: this.$t('profile') }
    },
	computed: mapGetters({
        user: 'auth/user'
    }),
    methods: {
        format_date(value){
            if (value) {
                return moment(String(value)).format('MMMM D, YYYY')
            }
        },
        parseStatus(status){
            switch(status){
                case 'in_progress':
                    // return '<span class="badge badge-warning badge-pill"></span>';
                    return '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>';
                    
                break;
                case 'passed':
                    // return '<span class="badge badge-success badge-pill"></span>';
                    return '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>';
                break;
                case 'failed':
                    // return '<span class="badge badge-danger badge-pill">Failed</span>';
                    return '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>';
                break;
            }
        },
        takeTheTest(exam){

            axios.post('/api/exam/take',{user_id:this.$route.params.id,exam_id:exam.id})
            .then(response => {

                if (response.data.error) {

                    Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: response.data.message,
                      footer: ''
                    });

                } else {

                    Swal.fire(
                      'Success!',
                      response.data.message,
                      'success'
                    );

                    this.examlogs = response.data.examlogs;
                    if (response.data.examlogs.data.length>0) 
                    {this.hasExamlogs = true;} else {this.hasExamlogs = false;}
                }

                this.pullUserData();
            });
        },
        img(img){
            return '/img/lg/'+img;
        },
    	pullUserData(){

            this.isCustomer = (this.user.role=='customer'||this.user.role=='trainee') ? true : false;

    		axios.get('/api/users/'+this.$route.params.id)
	        .then(response => {
	        	this.course = response.data.course;
	            this.trainee = response.data.data;
                this.trainee.points = response.data.points;
                this.rank = response.data.rank;
                this.traininglogs = response.data.traininglogs;
                if (response.data.traininglogs.data.length>0) 
                {this.hasTraininglogs = true;} else {this.hasTraininglogs = false;}
                this.examlogs = response.data.examlogs;
                if (response.data.examlogs.data.length>0) 
                {this.hasExamlogs = true;} else {this.hasExamlogs = false;}
                this.examlist = response.data.examlist;
                if (response.data.examlist.data.length>0) 
                {this.hasExams = true;} else {this.hasExams = false;}
	        });
    	},
        getUserLogsPage(page = 1) 
        {
            axios.get('/api/users/'+this.$route.params.id+'?page=' + page)
            .then(response => {
                this.traininglogs = response.data.traininglogs;
                if (response.data.traininglogs.data.length>0) 
                {this.hasTraininglogs = true;} else {this.hasTraininglogs = false;}
                this.examlogs = response.data.examlogs;
                if (response.data.examlogs.data.length>0) 
                {this.hasExamlogs = true;} else {this.hasExamlogs = false;}
                this.examlist = response.data.examlist;
                if (response.data.examlist.data.length>0) 
                {this.hasExams = true;} else {this.hasExams = false;}
            });
        },
        async update () {

            if (this.image == '') {

                alert('Please select image.');

            } else {
                
                this.formData.append('image', this.image);

                this.uploading = true;

                axios.post('/api/users/'+this.$route.params.id+'/upload',
                    this.formData, {headers: {'Content-Type': 'multipart/form-data'}}
                ).then(function(data) {

                    this.uploading = false;
                    $('[name="image"]').val('');
                    this.success = true;
                    this.trainee.image = data.data.image;

                }.bind(this)).catch(function(data) {
                    console.log('error');
                });   
            }

        },
        handleFileUpload(e){

            if (e.target.files.length > 0) 
            {
                let file = e.target.files[0];
                let reader = new FileReader();

                if(file['size'] < 10485760)
                {
                    this.image = file;    

                }else{

                    alert('File size can not be bigger than 10 MB')
                }
            }
        }
    }
}
</script>