<template>

	<div>
		
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a v-if="user.role=='customer'" class="nav-item nav-link active" id="nav-trainees-tab" data-toggle="tab" href="#nav-trainees" role="tab" aria-controls="nav-trainees" aria-selected="true">{{ $t('manage_trainees') }}</a>
				<a v-if="user.role=='admin'||user.role=='employee'" class="nav-item nav-link active" id="nav-exam-logs-tab" data-toggle="tab" href="#nav-exam-logs" role="tab" aria-controls="nav-exam-logs" aria-selected="true">{{ $t('exam_logs') }}</a>
				<a v-if="user.role=='admin'||user.role=='employee'" class="nav-item nav-link" id="nav-order-tab" data-toggle="tab" href="#nav-order" role="tab" aria-controls="nav-order" aria-selected="false">{{ $t('orders') }}</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div v-if="user.role=='customer'" class="tab-pane fade show active" id="nav-trainees" role="tabpanel" aria-labelledby="nav-exam-logs-tab">
				<card :title="$t('manage_trainees')">

					<div class="row">
			            <div class="col-md-4" v-for="trainee in trainees.data" :key="trainee.id">
			                <router-link :to="{ name: 'users.profile', params:{ id: trainee.id } }" style="color:#6a7a8c;">
			                    
			                    <div class="card">
			                        <div class="card-body">
			                            <center class="m-t-30"> 

			                                <img v-if="trainee.image" class="rounded-circle" :alt="trainee.first_name" width="150" :src="concatImg(trainee.image)">
			                                <img v-else class="rounded-circle" :alt="trainee.first_name" width="150" :src="logo">

			                                <h4 class="card-title m-t-10">{{ trainee.first_name+' '+trainee.last_name }}</h4>
			                                <h6 class="card-subtitle">{{ trainee.email }}</h6>
			                            </center>
			                        </div>
			                    </div>
			                
			                </router-link>
			            </div>
			        </div>
			        <pagination class="float-left" :limit="5" :data="trainees" @pagination-change-page="getTraineesPaginate"></pagination>

				</card>
			</div>
			<div v-if="user.role=='admin'||user.role=='employee'" class="tab-pane fade show active" id="nav-exam-logs" role="tabpanel" aria-labelledby="nav-exam-logs-tab">
				
				<card :title="$t('exam_logs')">
					
					<div v-if="pulling">
						<div align="center">
							<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
						</div>
					</div>
					<div v-else>
						<div v-if="hasExamlogs">
							<table class="table table-striped animated fadeIn">
								<thead>
									<tr>
										<th>{{ $t('trainee') }}</th>
										<th>{{ $t('category') }}</th>
										<th>{{ $t('exam') }}</th>
										<th>{{ $t('rank') }}</th>
										<th>{{ $t('status') }}</th>
										<th>{{ $t('requirements') }}</th>
										<th>{{ $t('modify') }}</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="log in examlogs.data" :key="log.id">
										<td>
											<router-link :to="{ name: 'users.profile', params:{ id: log.user.id } }">
												{{ log.user.first_name +' '+log.user.last_name }}
											</router-link>
										</td>
										<td>{{ log.category.name }}</td>
										<td>{{ log.name }}</td>
										<td>{{ log.rank.name }}</td>
										<td v-html="parseStatus(log.status)"></td>
										<td>
											<span class="badge badge-info badge-pill" style="margin-right:5px;" v-for="req in log.exam.requirements" :key="req">
												{{ req }}
											</span>
										</td>
										<td>
											<a href="#" @click="editExamLogModal(log)" class="btn btn-sm btn-success mb-1">
												{{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<pagination class="float-left" :limit="5" :data="examlogs" @pagination-change-page="pullExamLogsPage"></pagination>
						</div>
						<div class="alert alert-warning" role="alert" v-else>
							{{ $t('no_records') }}
						</div>
					</div>

					<div class="modal fade" id="editExamLog" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
			            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
			                <div class="modal-content">

			                    <div class="modal-header">
			                        <h5 class="modal-title" id="addNewLabel">{{ $t('update_exam_log') }}</h5>
			                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                            <span aria-hidden="true">&times;</span>
			                        </button>
			                    </div>

			                    <form @submit.prevent="updateExamLog">
			                        <div class="modal-body">
			                            <div class="form-group">
			                                <label for="">{{ $t('name') }}</label>
			                                <input v-model="form.name" type="text" name="name"
			                                placeholder="Name"
			                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" disabled>
			                                <has-error :form="form" field="name"></has-error>
			                            </div>

			                            <div class="form-group">
			                                <label for="">{{ $t('status') }}</label>
			                                <select v-model="form.status" name="status"
			                                class="form-control" :class="{ 'is-invalid': form.errors.has('status') }">
				                                <option value="in_progress">{{ $t('in_progress') }}</option>
				                                <option value="passed">{{ $t('passed') }}</option>
				                                <option value="failed">{{ $t('failed') }}</option>
			                            	</select>
			                                <has-error :form="form" field="status"></has-error>
			                            </div>
			                        </div>
			                        <div class="modal-footer">
			                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
			                            <button type="submit" class="btn btn-primary" :disabled="loading">{{ $t(update) }}</button>
			                        </div>
			                    </form>

			                </div>
			            </div>
			        </div>
				</card>
			</div>
			<div v-if="user.role=='admin'||user.role=='employee'" class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
				<card :title="$t('orders')">
					<div v-if="pulling">
						<div align="center">
							<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
						</div>
					</div>
					<div v-else>
						<div v-if="hasRankups">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>{{ $t('trainee') }}</th>
										<th>{{ $t('belt_tobe_given') }}</th>
										<th>{{ $t('status') }}</th>
										<th>{{ $t('modify') }}</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="ups in orders.data" :key="ups.id">
										<td>
											<router-link :to="{ name: 'users.profile', params:{ id: ups.user.id } }">
												{{ ups.user.first_name +' '+ups.user.last_name }}
											</router-link>
										</td>
										<td>
											<button class="btn btn-sm text-black" v-bind:style="{ background: ups.next.color }">
												{{ ups.next.name }} - ({{ ups.next.division.name }})
											</button>
										</td>
										<td v-html="orderStatus(ups.status)"></td>
										<td>
											<a href="#" @click="editOrder(ups)" class="btn btn-sm btn-success mb-1">
												{{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<pagination class="float-left" :limit="5" :data="orders" @pagination-change-page="getOrders"></pagination>
						</div>
						<div class="alert alert-warning" role="alert" v-else>
							{{ $t('no_records') }}
						</div>
			        </div>
				</card>
				<div class="modal fade" id="editOrder" tabindex="-1" role="dialog" aria-labelledby="editOrderLabel" aria-hidden="true">
			            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
			                <div class="modal-content">

			                    <div class="modal-header">
			                        <h5 class="modal-title" id="editOrderLabel">{{ $t('update_order') }}</h5>
			                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                            <span aria-hidden="true">&times;</span>
			                        </button>
			                    </div>

			                    <form @submit.prevent="updateOrder">
			                        <div class="modal-body">
			                            <div class="form-group">
			                                <label for="">{{ $t('belt') }}</label>
			                                <input v-model="orderForm.belt" type="text" name="belt"
			                                class="form-control" :class="{ 'is-invalid': orderForm.errors.has('belt') }" disabled>
			                                <has-error :form="orderForm" field="belt"></has-error>
			                            </div>

			                            <div class="form-group">
			                                <label for="">{{ $t('status') }}</label>
			                                <select v-model="orderForm.status" name="status"
			                                class="form-control" :class="{ 'is-invalid': orderForm.errors.has('status') }">
				                                <option value="hold">{{ $t('on_hold') }}</option>
				                                <option value="processing">{{ $t('processing') }}</option>
				                                <option value="success">{{ $t('success_process') }}</option>
			                            	</select>
			                                <has-error :form="form" field="status"></has-error>
			                            </div>
			                        </div>
			                        <div class="modal-footer">
			                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
			                            <button type="submit" class="btn btn-primary" :disabled="loading">{{ $t(update) }}</button>
			                        </div>
			                    </form>

			                </div>
			            </div>
			        </div>

			</div>
		</div>

	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
	middleware: 'auth',
	computed: mapGetters({
        user: 'auth/user'
    }),
	mounted()
	{
		if (this.user.role=='admin'||this.user.role=='employee') 
		{
			this.pullExamLogs();
			this.getOrders();
		}

		if (this.user.role=='customer') 
		{
			this.getTraineesPaginate();
		}
    },
	data: () => ({
		trainees: {},
		orders: {},
    	examlogs: {},
    	hasExamlogs: false,
    	loading: false,
		hasRankups: false,
		pulling: true,
    	update: 'update',
    	logo: '/hdlogo.png',
    	form: new Form({
            id: '',
            name: '',
            status: '',
        }),
        orderForm: new Form({
            id: '',
            belt: '',
            status: 'hold',
        })
    }),
	metaInfo () {
		return { title: this.$t('home') }
	},
	methods: {
		concatImg(img){return '/img/lg/'+img;},
		getTraineesPaginate(page = 1)
		{
			axios.get('/api/mytrainees/'+this.user.id+'?page=' + page)
            .then(response => {
                this.trainees = response.data.data;
            });
		},
		getOrders(page = 1)
		{
			this.pulling = true;
			axios.get('/api/getorders?page=' + page)
            .then(response => {
                this.orders = response.data.data;
                if (response.data.data.data.length>0) 
				{this.hasRankups = true;} else {this.hasRankups = false;}
				this.pulling = false;
            });
		},
		editOrder(order)
		{
			this.orderForm.clear();
			this.orderForm.reset();
			this.orderForm.fill(order);
			$('#editOrder').modal('show');
		},
		editExamLogModal(item)
		{
           this.form.clear();
           this.form.reset();
           this.form.fill(item);
           $('#editExamLog').modal('show');
        },
        updateOrder(item)
        {
        	this.loading = true;
        	this.update = 'updating';
            this.orderForm.patch('/api/orders/'+this.orderForm.id)
                .then(response => {
                    this.pullExamLogs();
                    $('#editOrder').modal('hide');
                    this.loading = false;
                    this.update = 'update';
                    this.getOrders();
                }).catch(()=>{
                	console.log("Error.....");
                	this.loading = false;
                	this.update = 'update';
                });
        },
        updateExamLog(item)
        {
        	this.loading = true;
        	this.update = 'updating';
            this.form.patch('/api/exam/logs/'+this.form.id)
                .then(response => {
                    this.pullExamLogs();
                    $('#editExamLog').modal('hide');
                    this.loading = false;
                    this.update = 'update';
                    this.getOrders();
                }).catch(()=>{
                	console.log("Error.....");
                	this.loading = false;
                	this.update = 'update';
                });
        },
		pullExamLogs()
		{
			this.pulling = true;
			axios.get('/api/exam/logs')
            .then(response => {
                this.examlogs = response.data.data;
                if (response.data.data.data.length>0) 
				{this.hasExamlogs = true;} else {this.hasExamlogs = false;}
				this.pulling = false;
            });
		},
		pullExamLogsPage(page=1)
		{
			this.pulling = true;
			axios.get('/api/exam/logs?page=' + page)
            .then(response => {
                this.examlogs = response.data.data;
                if (response.data.data.data.length>0) 
				{this.hasExamlogs = true;} else {this.hasExamlogs = false;}
				this.pulling = false;
            });
		},
		parseStatus(status){
            switch(status){
                case 'in_progress':
					// return '<span class="badge badge-warning badge-pill">'+this.$t('in_progress')+'</span>';
					return '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>';
                break;
                case 'passed':
					// return '<span class="badge badge-success badge-pill">'+this.$t('passed')+'</span>';
					return '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>'+
                        '<i class="mdi mdi-star"></i>';
                break;
                case 'failed':
					// return '<span class="badge badge-danger badge-pill">'+this.$t('failed')+'</span>';
					return '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>'+
                        '<i class="mdi mdi-star-outline"></i>';
                break;
            }
        },
        orderStatus(status){
            switch(status){
                case 'hold':
                    return '<span class="badge badge-danger badge-pill">'+this.$t('on_hold')+'</span>';
                break;
                case 'processing':
                    return '<span class="badge badge-warning badge-pill">'+this.$t('processing')+'</span>';
                break;
                case 'success':
                    return '<span class="badge badge-success badge-pill">'+this.$t('success_process')+'</span>';
                break;
            }
        },
	}
}
</script>
