<template>
    <card :title="$t('add_facility')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('facility_created')" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                            <has-error :form="form" field="name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('city') }}</label>
                        <div class="col-md-7">
                            <select v-model="form.city_id" :class="{ 'is-invalid': form.errors.has('city_id') }" class="form-control" name="city_id">
                                <option 
                                v-for="city in cities"
                                :key="city.id"
                                :value="city.id">
                                {{ city.name }}
                                </option>
                            </select>
                            <has-error :form="form" field="city_id" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="success">
                                {{ $t('add_facility') }}
                            </v-button>
                        </div>
                    </div>    

                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import axios from 'axios'

export default {
    scrollToTop: false,
    mounted(){
        this.getCities()
    },
    metaInfo () {
        return { title: this.$t('add_facility') }
    },

    data: () => ({
        cities: {},
        form: new Form({
            name: '',
            city_id: '',
        })
    }),

    methods: {
        getCities()
        {
            axios.get('/api/getcities')
            .then(response => {
                this.cities = response.data;
            });
        },
        async update () {
            await this.form.post('/api/facilities')
                .then(({ data }) => { 
                    this.form.reset()
                })
                .catch(()=>{
                  console.log("Error...")
                })
        }
    }
}
</script>
