<template>
    <div>
        <div v-if="user">
            
            <header class="topbar" data-navbarbg="skin6">
                <nav class="navbar top-navbar navbar-expand-md navbar-light">
                    <div class="navbar-header" data-logobg="skin5">
                        <!-- This is for the sidebar toggle which is visible on mobile only -->
                        <a @click="toggleMobile" class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                            <i class="ti-menu ti-close"></i>
                        </a>
                        
                        <div class="navbar-brand">
                            <router-link :to="{ name: user ? 'home' : 'login' }" class="logo" style="color:#fff;">
                                <b class="logo-icon">
                                    <img :src="logo" class="rounded-circle profile-photo mr-1">
                                </b>
                                <span class="logo-text">
                                    {{ appName }}
                                </span>
                            </router-link>
                        </div>

                        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
                        
                        <ul class="navbar-nav float-left mr-auto"></ul>
                        
                        <ul class="navbar-nav float-right">
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img v-if="user.photo_url" :src="user.photo_url" class="rounded-circle profile-photo mr-1"> {{ user.first_name }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                    <a class="dropdown-item" href="#" @click.prevent="logout">
                                        <i class="mdi mdi-logout m-r-5 m-l-5"></i>  {{ $t('logout') }}
                                    </a>
                                </div>
                            </li>
                            <locale-dropdown />
                        </ul>
                    </div>
                </nav>
            </header>
            
            <aside class="left-sidebar" data-sidebarbg="skin5">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="sidebar-item">
                                <router-link :to="{ name: 'home' }" class="sidebar-link waves-effect waves-dark" aria-expanded="false">
                                    <i class="mdi mdi-av-timer"></i>
                                    <span class="hide-menu">{{ $t('dashboard') }}</span>
                                </router-link>
                            </li>
                            <li class="sidebar-item">
                                <a href="#administration" data-toggle="collapse" aria-expanded="false" class="sidebar-link waves-effect waves-dark">
                                    <i class="mdi mdi-wrench"></i>
                                    {{ $t('administration') }}
                                </a>
                                <!-- Submenu content -->
                                <div id='administration' class="collapse sidebar-submenu">
                                    
                                    <router-link v-if="user.role == 'admin'" :to="{ name: 'users.list' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-account-multiple"></i>
                                        <span class="hide-menu">{{ $t('users') }}</span>
                                    </router-link>
                                
                                    <router-link v-if="user.role == 'admin'" :to="{ name: 'cities.list' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-map-marker-multiple"></i>
                                        <span class="hide-menu">{{ $t('cities') }}</span>
                                    </router-link>
                                
                                    <router-link v-if="user.role == 'admin'" :to="{ name: 'facilities.list' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-home-modern"></i>
                                        <span class="hide-menu">{{ $t('facilities') }}</span>
                                    </router-link>

                                    <router-link v-if="user.role == 'admin'" :to="{ name: 'activities.list' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-mouse-variant"></i>
                                        <span class="hide-menu">{{ $t('activities') }}</span>
                                    </router-link>

                                    <router-link :to="{ name: 'settings.profile' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-account-settings-variant"></i>
                                        <span class="hide-menu">{{ $t('settings') }}</span>
                                    </router-link>
                                
                                </div>
                            </li>

                            <li v-if="user.role == 'admin' || user.role == 'employee'" class="sidebar-item">
                                <a href="#training" data-toggle="collapse" aria-expanded="false" class="sidebar-link waves-effect waves-dark">
                                    <i class="mdi mdi-walk"></i>
                                    {{ $t('training') }}
                                </a>
                                <div id='training' class="collapse sidebar-submenu">
                                    <router-link v-if="user.role == 'admin' || user.role == 'employee'" :to="{ name: 'courses.list' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-book-multiple"></i>
                                        <span class="hide-menu">{{ $t('courses') }}</span>
                                    </router-link>

                                    <router-link v-if="user.role == 'admin'" :to="{ name: 'ranks.list' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-star"></i>
                                        <span class="hide-menu">{{ $t('graduation') }}</span>
                                    </router-link>

                                    <router-link v-if="user.role == 'admin'" :to="{ name: 'categories.list' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-note-text"></i>
                                        <span class="hide-menu">{{ $t('categories') }}</span>
                                    </router-link>

                                    <router-link v-if="user.role == 'admin' || user.role == 'employee'" :to="{ name: 'exams.list' }" class="sidebar-link waves-effect waves-dark subnav-link" aria-expanded="false">
                                        <i class="mdi mdi-newspaper"></i>
                                        <span class="hide-menu">{{ $t('exams') }}</span>
                                    </router-link>
                                </div>
                            </li>

                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>

        </div>
        
        <div v-else>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">

                    <router-link :to="{ name: user ? 'home' : 'login' }" class="navbar-brand">
                        <img :src="logo" class="rounded-circle profile-photo mr-1"> {{ appName }}
                    </router-link>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
                        <span class="navbar-toggler-icon" />
                    </button>

                    <div id="navbarToggler" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <locale-dropdown />
                        </ul>

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item">
                                <router-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                                    {{ $t('login') }}
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{ name: 'register' }" class="nav-link" active-class="active">
                                    {{ $t('register') }}
                                </router-link>
                            </li>
                        
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LocaleDropdown from './LocaleDropdown'

export default {

  components: {
    LocaleDropdown
  },

  mounted(){
    
  },

  data: () => ({
    appName: window.config.name,
    logo: '/hdlogo.png',
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    async logout () {
        // Log out the user.
        await this.$store.dispatch('auth/logout')
        // Redirect to login.
        this.$router.push({ name: 'login' })
    },
    toggleMobile(){
        jQuery("#main-wrapper").toggleClass("show-sidebar");
        jQuery(".nav-toggler i").toggleClass("ti-menu");
    }
  }
}
</script>

<style scoped>
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}
</style>
