<template>
    <card :title="$t('cities')">

        <div class="card-content">
            <div v-if="pulling">
                <div align="center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div v-else>
                <table v-if="hasData" class="table table-hover animated fadeIn">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Zip</th>
                            <th>Modify</th>
                        </tr> 
                    </thead>
                    <tbody>

                        <tr v-for="item in tabledata.data" :key="item.id">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.zip_code }}</td>
                            <td>
                                <a href="#" @click="editCityModal(item)" class="btn btn-sm btn-success mb-1">
                                    {{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
                                </a>
                                
                                <a href="#" @click="deleteCity(item.id)" class="btn btn-sm btn-danger mb-1">
                                    {{ $t('delete') }} <i class="mdi mdi-close"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning" role="alert" v-else>
                    {{ $t('no_records') }}
                </div>
                <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
            </div>
        </div>

        <div class="modal fade" id="editCity" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="addNewLabel">{{ $t('update_city') }}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateCity">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">Name</label>
                                <input v-model="form.name" type="text" name="name"
                                placeholder="Name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">Zip Code</label>
                                <input v-model="form.zip_code" type="number" name="zip_code"
                                placeholder="Zip"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('zip_code') }">
                                <has-error :form="form" field="zip_code"></has-error>
                            </div>
                      
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button type="submit" class="btn btn-primary">{{ $t('update') }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    scrollToTop: false,

    mounted(){
        this.loadTableData()
    },

    metaInfo () {
        return { title: this.$t('cities') }
    },

    data: () => ({
        hasData: false,
        pulling: true,
        tabledata: {},
        form: new Form({
            id: '',
            name : '',
            zip_code:''
        })
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        loadTableData()
        {
            this.pulling = true;
            axios.get('/api/cities')
            .then(({ data }) =>{ 
                this.tabledata = data.data;
                this.hasData = (data.data.data.length>0) ? true : false;
                this.pulling = false;
            })
            .catch(()=>{
                console.log("Error...")
            })
        },
        getResults(page = 1) {
            this.pulling = true;
          axios.get('/api/cities?page=' + page)
            .then(response => {
              this.tabledata = response.data.data;
              this.pulling = false;
          });
        },
        editCityModal(item){
           this.form.clear();
           this.form.reset();
           this.form.fill(item)
           $('#editCity').modal('show');
        },
        updateCity(item){

            this.form.patch('/api/cities/'+this.form.id)
                .then(response => {

                    this.loadTableData();
                    $('#editCity').modal('hide');
                })
                .catch(()=>{
                  console.log("Error.....")
                })
        },
        deleteCity(id){

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                      
              if (result.value) {
                
                this.form.delete('/api/cities/'+id)
                    .then((response)=> {
                            Swal.fire(
                              'Deleted!',
                              'City deleted successfully',
                              'success'
                            )
                    this.loadTableData();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        }
    }
}
</script>
