<template>
    <card :title="$t('activities')">

        <div class="card-content">
            <div v-if="pulling">
                <div align="center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div v-else>
                <div v-if="tabledata.data.length">
                    <button class="btn btn-success" @click="restoreRecords">
                        {{ $t('restore_records') }}
                    </button>
                    <button class="btn btn-danger" @click="deleteRecords">
                        {{ $t('delete_records') }}
                    </button>
                    <hr>
                    <table class="table table-hover animated fadeIn">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>{{ $t('time') }}</th>
                                <th>{{ $t('description') }}</th>
                                <th>{{ $t('user') }}</th>
                                <th>{{ $t('method') }}</th>
                                <th>{{ $t('route') }}</th>
                                <th>{{ $t('ip_address') }}</th>
                                <th>{{ $t('user_agent') }}</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr v-for="item in tabledata.data" :key="item.id">
                                <td>{{ item.id }}</td>
                                <td>{{ item.timePassed }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.userDetails.first_name }}</td>
                                <td>{{ item.methodType }}</td>
                                <td>{{ item.route }}</td>
                                <td>{{ item.ipAddress }}</td>
                                <td>{{ item.userAgentDetails.platform+' '+item.userAgentDetails.type+' '+item.userAgentDetails.browser+' '+item.userAgentDetails.version }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-warning" role="alert" v-else>
                    {{ $t('no_records') }}
                </div>
                <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
    
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    scrollToTop: false,

    mounted(){
        this.loadTableData()
    },

    metaInfo () {
        return { title: this.$t('activities') }
    },

    data: () => ({
        tabledata: {data:[]},
        pulling: true,
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        loadTableData()
        {
            this.pulling = true;
            axios.get('/api/activities/cleared')
            .then(response => {
              this.tabledata = response.data.data.activities;
              this.pulling = false;
            });
        },
        getResults(page = 1) 
        {
            this.pulling = true;
            axios.get('/api/activities/cleared?page=' + page)
            .then(response => {
                this.tabledata = response.data.data.activities;
                this.pulling = false;
            });
            
        },
        restoreRecords()
        {
            Swal.fire({
                title: 'Are you sure?',
                text: "Restore activity logs.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, restore it!'
              }).then((result) => {
                      
              if (result.value) {
                
                axios.get('/api/activities/restore')
                    .then((response)=> {

                        Swal.fire(
                          'Restored!',
                          'Activities restored successfully',
                          'success'
                        )

                        this.loadTableData();

                    }).catch(() => {

                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        },
        deleteRecords()
        {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                      
              if (result.value) {
                
                axios.delete('/api/activities/softdelete/')
                    .then((response)=> {
                            Swal.fire(
                              'Deleted!',
                              'Activities deleted successfully',
                              'success'
                            )
                    this.loadTableData();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        }
    }
}
</script>
