<template>
    <card :title="$t('activities')">

        <div class="card-content">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <input v-model="username" type="text" class="form-control" placeholder="Name" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button :disabled="searching" @click="filterByName" class="btn btn-outline-secondary" type="button" id="button-addon2">
                                {{ $t(filterName) }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button @click="deleteRecords" class="btn btn-danger">
                        {{ $t('clear_activity_logs') }}
                    </button>
                </div>
            </div>
            <hr>
            <div v-if="pulling">
                <div align="center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div v-else>
                <div v-if="hasData">
                    <table class="table table-hover animated fadeIn">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>{{ $t('time') }}</th>
                                <th>{{ $t('description') }}</th>
                                <th>{{ $t('user') }}</th>
                                <th>{{ $t('method') }}</th>
                                <th>{{ $t('route') }}</th>
                                <th>{{ $t('ip_address') }}</th>
                                <th>{{ $t('user_agent') }}</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr v-for="item in tabledata.data" :key="item.id">
                                <td>{{ item.id }}</td>
                                <td>{{ item.timePassed }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.userDetails.first_name }}</td>
                                <td>{{ item.methodType }}</td>
                                <td>{{ item.route }}</td>
                                <td>{{ item.ipAddress }}</td>
                                <td>{{ item.userAgentDetails.platform+' / '+item.userAgentDetails.type+' / '+item.userAgentDetails.browser+' / '+item.userAgentDetails.version }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-warning" role="alert" v-else>
                    {{ $t('no_records') }}
                </div>
                <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
    
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    scrollToTop: false,

    mounted(){
        this.loadTableData()
    },

    metaInfo () {
        return { title: this.$t('activities') }
    },

    data: () => ({
        hasData: false,
        pulling: true,
        tabledata: {},
        username: '',
        searching: false,
        filterName: 'filter_by_name'
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        loadTableData()
        {
            this.pulling = true;
            axios.get('/api/activities')
            .then(response => {
                this.tabledata = response.data.data.activities;
                this.hasData = (this.tabledata.data.length>0) ? true : false;
                this.pulling = false;
            });
        },
        getResults(page = 1) 
        {
            this.pulling = true;
            axios.get('/api/activities?page=' + page)
            .then(response => {
                this.tabledata = response.data.data.activities;
                this.pulling = false;
            });
            
        },
        filterByName(){
            this.filterName = 'searching';
            this.searching = true;
            this.pulling = true;
            axios.get('/api/activities',
            {params:{user: this.username}})
            .then(response => {
                this.tabledata = response.data.data.activities;
                this.hasData = (this.tabledata.data.length>0) ? true : false;
                this.filterName = 'filter_by_name';
                this.searching = false;
                this.pulling = false;
            });
        },
        deleteRecords()
        {
            Swal.fire({
                title: 'Are you sure?',
                text: "Records will be temporarily removed.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, clear it!'
              }).then((result) => {
                      
              if (result.value) {
                
                axios.delete('/api/activities/delete')
                    .then((response)=> {
                            Swal.fire(
                              'Cleared!',
                              'Activities cleared successfully',
                              'success'
                            )
                    this.loadTableData();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        }
    }
}
</script>
