<template>
    <div>
        <ul class="nav nav-tabs">
            <li v-for="tab in tabs" :key="tab.route" class="nav-item">
                <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
                    <i class="mdi" :class="tab.icon"></i>
                    {{ tab.name }}
                </router-link>
            </li>
        </ul>
        <div class="row">
            <div class="col">
                <transition name="fade" mode="out-in">
                    <router-view />
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',

    computed: {
        tabs () {
            return [
            {
                icon: 'mdi-account',
                name: this.$t('account_details'),
                route: 'settings.profile'
            },
            {
                icon: 'mdi-image',
                name: this.$t('profile_picture'),
                route: 'settings.photo'
            },
            {
                icon: 'mdi-lock',
                name: this.$t('password'),
                route: 'settings.password'
            }
            ]
        }
    }
}
</script>

<style>
.settings-card .card-body {
    padding: 0;
}
</style>
