<template>
    <card :title="$t('profile_picture')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('photo_uploaded')" />
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('photo') }}</label>
                        <div class="col-md-7">
                            <input type="file" id="file" ref="image" accept="image/*" name="image" class="form-control" :class="{ 'is-invalid': form.errors.has('image') }" @change='handleFileUpload'/>
                            <has-error :form="form" field="image" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="uploading" type="success">
                                {{ $t(btnupdate) }}
                            </v-button>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <img :src="user.photo_url" class="img-thumbnail img-fluid" alt="">                    
                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {

    scrollToTop: false,

    mounted(){
        
    },

    metaInfo () {
        return { title: this.$t('settings') }
    },

    data: () => ({
        image: '',
        uploading: false,
        success: false,
        btnupdate: 'update',
        formData: new FormData(),
        form: new Form({
            image: ''
        })
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),


    methods: {
        async update () {

            if (this.image == '') {

                aler('Please select image.');

            } else {
                
                this.formData.append('image', this.image);

                this.uploading = true;
                this.btnupdate = 'uploading';

                axios.post('/api/users/upload/image',
                    this.formData, {headers: {'Content-Type': 'multipart/form-data'}}
                ).then(function(data) {

                    this.uploading = false;
                    this.btnupdate = 'update';
                    $('[name="image"]').val('');
                    this.success = true;
                    this.user.photo_url = '/img/lg/'+data.data.image;

                }.bind(this)).catch(function(data) {
                    console.log('error');
                });   
            }
        },
        handleFileUpload(e){

            if (e.target.files.length > 0) 
            {
                let file = e.target.files[0];
                let reader = new FileReader();

                if(file['size'] < 10485760)
                {
                    this.image = file;    

                }else{

                    alert('File size can not be bigger than 10 MB')
                }
            }
        },
    }
}
</script>
