<template>
    <card :title="$t('your_info')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('info_updated')" />

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('first_name') }}</label>
                <div class="col-md-7">
                    <input v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('first_name') }" class="form-control" type="text" name="first_name">
                    <has-error :form="form" field="first_name" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('last_name') }}</label>
                <div class="col-md-7">
                    <input v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
                    <has-error :form="form" field="last_name" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
                <div class="col-md-7">
                    <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
                    <has-error :form="form" field="email" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('street') }}</label>
                <div class="col-md-7">
                    <input v-model="form.street" :class="{ 'is-invalid': form.errors.has('street') }" class="form-control" type="text" name="street">
                    <has-error :form="form" field="street" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('street_no') }}</label>
                <div class="col-md-7">
                    <input v-model="form.street_no" :class="{ 'is-invalid': form.errors.has('street_no') }" class="form-control" type="number" name="street_no">
                    <has-error :form="form" field="street_no" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('city') }}</label>
                <div class="col-md-7">
                    <input v-model="form.city" :class="{ 'is-invalid': form.errors.has('city') }" class="form-control" type="text" name="city">
                    <has-error :form="form" field="city" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('zip') }}</label>
                <div class="col-md-7">
                    <input v-model="form.zip" :class="{ 'is-invalid': form.errors.has('zip') }" class="form-control" type="number" name="zip">
                    <has-error :form="form" field="zip" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('phone') }}</label>
                <div class="col-md-7">
                    <input v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="text" name="phone">
                    <has-error :form="form" field="phone" />
                </div>
            </div>

            <div v-if="user.role=='admin'" class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('role') }}</label>
                <div class="col-md-7">
                    <select v-model="form.role" :class="{ 'is-invalid': form.errors.has('role') }" class="form-control" name="role">
                        <option 
                            v-for="item in roles"
                            :key="item.id"
                            v-bind:value="item.slug">
                            {{ item.name }}
                        </option>
                    </select>
                    <has-error :form="form" field="role" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-9 ml-md-auto">
                    <v-button :loading="form.busy" type="success">
                        {{ $t('update') }}
                    </v-button>
                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
    scrollToTop: false,

    mounted()
    {
        this.getRoles()
    },

    metaInfo () {
        return { title: this.$t('settings') }
    },

    data: () => ({
        roles: {},
        form: new Form({
            first_name: '',
            last_name: '',
            email: '',
            street: '',
            street_no: '',
            zip: '',
            city: '',
            phone: '',
            image: '',
            course_id: '',
            customer_id: '',
            role: 'customer',
        })
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    created () {
        this.form.keys().forEach(key => {
            this.form[key] = this.user[key]
        })
    },

    methods: {
        async update () {
            const { data } = await this.form.patch('/api/settings/profile')
            data.role = this.form.role;
            this.$store.dispatch('auth/updateUser', { user: data })
        },
        getRoles(){

            axios.get('/api/getroles')
            .then(response => {
                this.roles = response.data;
            });
        },
    }
}
</script>
