<template>
    <card :title="$t('add_rank')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('rank_created')" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                            <has-error :form="form" field="name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('rank') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.rank" :class="{ 'is-invalid': form.errors.has('rank') }" class="form-control" type="text" name="rank">
                            <has-error :form="form" field="rank" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('color') }}</label>
                        <div class="col-md-7">
                            <div class="input-group mb-1">
                                  <div class="input-group-prepend">
                                    <button v-on-clickaway="away" class="btn btn-outline-secondary" @click="shown = !shown" type="button">{{ $t('select') }}</button>
                                </div>
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button" v-bind:style="{ background: form.color }">
                                        &nbsp;
                                    </button>
                                </div>
                                <input v-model="form.color" :class="{ 'is-invalid': form.errors.has('color') }" class="form-control" type="text" name="color">
                            </div>
                            <color-picker
                                v-show="shown"
                                style="position:absolute;"
                                :color="color"
                                :sucker-hide="false"
                                :sucker-canvas="suckerCanvas"
                                :sucker-area="suckerArea"
                                @changeColor="changeColor"
                            />
                            
                            <has-error :form="form" field="color" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label mb-1 text-md-right">{{ $t('duration') }}</label>
                        <div class="col-md-3 mb-1">
                            <input v-model="form.duration" :class="{ 'is-invalid': form.errors.has('duration') }" class="form-control" type="number" name="duration">
                            <has-error :form="form" field="duration" />
                        </div>
                        <div class="col-md-4 mb-1">
                            <select v-model="form.duration_type" :class="{ 'is-invalid': form.errors.has('duration_type') }" class="form-control" name="duration_type">
                                <option value="days">{{ $t('days') }}</option>
                                <option value="weeks">{{ $t('weeks') }}</option>
                                <option value="months">{{ $t('months') }}</option>
                                <option value="years">{{ $t('years') }}</option>
                            </select>
                            <has-error :form="form" field="duration_type" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('max_points') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.max_points" :class="{ 'is-invalid': form.errors.has('max_points') }" class="form-control" type="number" name="max_points">
                            <has-error :form="form" field="max_points" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('division') }}</label>
                        <div class="col-md-7">
                            <select v-model="form.division_id" :class="{ 'is-invalid': form.errors.has('division_id') }" class="form-control" name="division_id">
                                <option 
                                    v-for="division in divisions"
                                    :key="division.id"
                                    :value="division.id">
                                    {{ division.name }}
                                    </option>
                            </select>
                            <has-error :form="form" field="division_id" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="success">
                                {{ $t('add_rank') }}
                            </v-button>
                        </div>
                    </div>    

                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import colorPicker from '@caohenghu/vue-colorpicker'
import axios from 'axios'
import clickaway from 'vue-clickaway'

export default {
    mixins: [ clickaway.mixin ],
    components: {
        colorPicker
    },

    scrollToTop: false,

    mounted(){
        this.getDivisions();
    },

    metaInfo () {
        return { title: this.$t('add_rank') }
    },

    data: () => ({
        form: new Form({
            name:'',
            rank: '',
            color:'',
            duration: 3,
            duration_type: 'months',
            max_points: '',
        }),
        shown: false,
        color: '#59c7f9',
        suckerCanvas: null,
        suckerArea: [],
        isSucking: false,
        divisions: {}
    }),

    methods: {
        async update () {
            await this.form.post('/api/ranks')
            .then(({ data }) => { 
                this.form.reset()
            })
            .catch(()=>{
              console.log("Error...")
            })
        },
        away(){
            this.shown = false;
        },
        changeColor(color) {
            this.form.color = color.hex;
        },
        getDivisions()
        {
            axios.get('/api/getdivisions')
            .then(response => {
                this.divisions = response.data;
            });
        },
    }
}
</script>
