<template>
    <card :title="$t('create_division')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('division_created')" />

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                            <has-error :form="form" field="name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="success">
                                {{ $t('create_division') }}
                            </v-button>
                        </div>
                    </div>    

                </div>
            </div>

        </form>
    </card>
</template>

<script>
import Form from 'vform'

export default {
    scrollToTop: false,

    metaInfo () {
        return { title: this.$t('create_division') }
    },

    data: () => ({
        form: new Form({
            name: '',
        })
    }),

    methods: {
        async update () {

            await this.form.post('/api/divisions')
            .then(({ data }) => { 
                this.form.reset()
            })
            .catch(()=>{
              console.log("Error...")
            })

        }
    }
}
</script>
