<template>
    <div>
        <ul class="nav nav-tabs">
            <li v-for="tab in tabs" :key="tab.route" class="nav-item">
                <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
                    <i class="mdi" :class="tab.icon"></i>
                    {{ tab.name }}
                </router-link>
            </li>
        </ul>
        <div class="row">
            <div class="col">
                <transition name="fade" mode="out-in">
                    <router-view />
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',

    computed: {
        tabs () {
            return [
            {
                icon: 'mdi-star',
                name: this.$t('ranks'),
                route: 'ranks.list'
            },
            {
                icon: 'mdi-star-circle',
                name: this.$t('add_rank'),
                route: 'ranks.create'
            },
            {
                icon: 'mdi-bank',
                name: this.$t('divisions'),
                route: 'ranks.divisions'
            },
            {
                icon: 'mdi-bank',
                name: this.$t('create_division'),
                route: 'ranks.createdivision'
            },
            ]
        }
    }
}
</script>
<style>
.settings-card .card-body {
    padding: 0;
}
</style>
