<template>
    <card :title="$t('ranks')">

        <div class="card-content">
            <div v-if="pulling">
                <div align="center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div v-else>
                <table v-if="!hasData" class="table table-hover animated fadeIn">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>{{ $t('name') }}</th>
                            <th>{{ $t('rank') }}</th>
                            <th>{{ $t('color') }}</th>
                            <th>{{ $t('division') }}</th>
                            <th>{{ $t('duration') }}</th>
                            <th>{{ $t('max_points') }}</th>
                            <th>{{ $t('modify') }}</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr v-for="item in tabledata.data" :key="item.id">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.rank }}</td>
                            <td><button class="btn btn-sm text-white" v-bind:style="{ background: item.color }">{{ item.color }}</button></td>
                            <td>
                                <span v-if="item.division_id">
                                    {{ item.division.name }}    
                                </span>
                            </td>
                            <td>{{ item.duration+' '+item.duration_type }}</td>
                            <td>{{ item.max_points }}</td>
                            <td>
                                <a href="#" @click="editRankModal(item)" class="btn btn-sm btn-success mb-1">
                                    {{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
                                </a>
                                
                                <a href="#" @click="deleteRank(item.id)" class="btn btn-sm btn-danger mb-1">
                                    {{ $t('delete') }} <i class="mdi mdi-close"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning" role="alert" v-else>
                    {{ $t('no_records') }}
                </div>
                <pagination :data="tabledata" @pagination-change-page="getResults"></pagination>
            </div>
        </div>

        <div class="modal fade" id="editRank" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="addNewLabel">{{ $t('update_rank') }}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateRank">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">{{ $t('name') }}</label>
                                <input v-model="form.name" type="text" name="name"
                                placeholder="Name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('rank') }}</label>
                                <input v-model="form.rank" type="number" name="rank"
                                placeholder="Rank"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('rank') }">
                                <has-error :form="form" field="rank"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('color') }}</label>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <button v-on-clickaway="away" class="btn btn-outline-secondary" @click="shown = !shown" type="button">
                                            {{ $t('select') }}
                                        </button>
                                    </div>
                                    <div v-if="form.color" class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" v-bind:style="{ background: form.color }">
                                            &nbsp;
                                        </button>
                                    </div>
                                    <input v-model="form.color" :class="{ 'is-invalid': form.errors.has('color') }" class="form-control" type="text" disabled>
                                </div>
                                <color-picker
                                    v-show="shown"
                                    style="position:absolute;"
                                    :color="color"
                                    :sucker-hide="false"
                                    :sucker-canvas="suckerCanvas"
                                    :sucker-area="suckerArea"
                                    @changeColor="changeColor"
                                />
                                <has-error :form="form" field="color"></has-error>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">{{ $t('duration') }}</label>
                                        <input v-model="form.duration" type="number" name="duration"
                                        placeholder="Duration"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('duration') }">
                                        <has-error :form="form" field="duration"></has-error>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">{{ $t('duration_type') }}</label>
                                        <select v-model="form.duration_type" name="duration_type"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('duration_type') }">
                                            <option value="days">{{ $t('days') }}</option>
                                            <option value="weeks">{{ $t('weeks') }}</option>
                                            <option value="months">{{ $t('months') }}</option>
                                            <option value="years">{{ $t('years') }}</option>
                                        </select>
                                        <has-error :form="form" field="duration_type"></has-error>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="">{{ $t('max_points') }}</label>
                                <input v-model="form.max_points" type="number" name="max_points"
                                placeholder="Maximum Points"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('max_points') }">
                                <has-error :form="form" field="max_points"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">{{ $t('division') }}</label>
                                <select v-model="form.division_id" name="division_id" class="form-control" :class="{ 'is-invalid': form.errors.has('division_id') }">
                                    <option 
                                        v-for="division in divisions"
                                        :key="division.id"
                                        :value="division.id">
                                        {{ division.name }}
                                        </option>
                                </select>
                                <has-error :form="form" field="division_id"></has-error>
                            </div>
                      
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button type="submit" class="btn btn-primary" :disabled="btn=='updating'">{{ $t(btn) }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
    </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'
import colorPicker from '@caohenghu/vue-colorpicker'
import clickaway from 'vue-clickaway'

export default {
    mixins: [ clickaway.mixin ],
    components: {
        colorPicker
    },
    scrollToTop: false,

    mounted(){
        this.loadTableData();
    },

    metaInfo () {
        return { title: this.$t('ranks') }
    },

    data: () => ({
        hasData: false,
        pulling: true,
        tabledata: {},
        form: new Form({
            id:'',
            name:'',
            rank: '',
            color:'',
            duration: 3,
            duration_type: 'months',
            max_points: '',
            division_id: '',
        }),
        shown: false,
        color: '#59c7f9',
        suckerCanvas: null,
        suckerArea: [],
        isSucking: false,
        divisions: {},
        btn: 'update'
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        getDivisions()
        {
            axios.get('/api/getdivisions')
            .then(response => {
                this.divisions = response.data;
            });
        },
        away(){
            this.shown = false;
        },
        changeColor(color) {
            this.form.color = color.hex;
        },
        loadTableData()
        {
            this.pulling = true;
          axios.get('/api/ranks')
            .then(({ data }) =>{ 
                if (data.data.length>0) {this.hasData = true;}
                this.tabledata = data.data;
                this.pulling = false;
            })
            .catch(()=>{
              console.log("Error...")
              this.pulling = false;
            })
        },
        getResults(page = 1) {
            this.pulling = true;
          axios.get('/api/ranks?page=' + page)
            .then(response => {
              this.tabledata = response.data.data;
              this.pulling = false;
          });
        },
        editRankModal(item){
           this.form.clear();
           this.form.reset();
           this.form.fill(item);
           this.getDivisions();
           $('#editRank').modal('show');
        },
        updateRank(item){
            this.btn = 'updating';
            this.form.patch('/api/ranks/'+this.form.id)
                .then(response => {
                    this.btn = 'update';
                    this.loadTableData();
                    $('#editRank').modal('hide');
                })
                .catch(()=>{
                  console.log("Error.....")
                })
        },
        deleteRank(id){

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                      
              if (result.value) {
                
                this.form.delete('/api/ranks/'+id)
                    .then((response)=> {
                            Swal.fire(
                              'Deleted!',
                              'City deleted successfully',
                              'success'
                            )
                    this.loadTableData();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: ''
                        })
                    })
                }

            })
        }
    }
}
</script>
