<template>
    <div>
        <div class="row">
            <div class="col">
                <card :title="$t('course_overview')">
                    <div class="card-content animated fadeIn">
                        <h3>{{overview.title}}</h3>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <table class="table table-borderless table-hover">
                                    <tbody>
                                        <tr>
                                            <td><b>Instructor:</b></td>
                                            <td>{{ overview.instructor }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Facility:</b></td>
                                            <td>{{ overview.facility }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>City:</b></td>
                                            <td>{{ overview.city }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table class="table table-borderless table-hover">
                                    <tbody>
                                        <tr>
                                            <td><b>Rank:</b></td>
                                            <td>
                                                <button class="btn btn-sm" v-bind:style="{ background: rank.color }">
                                                    {{ rank.name }}
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Division:</b></td>
                                            <td>
                                                <span v-if="rank.division_id">
                                                    {{ rank.division.name }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </card>        
            
            </div>
        </div>
        <h3>{{ $t('enrolled_students') }}</h3>
        <hr>
        <div class="row">
            <div class="col-md-4" v-for="trainee in trainees.data" :key="trainee.id">
                <router-link :to="{ name: 'users.profile', params:{ id: trainee.id } }" style="color:#6a7a8c;">
                    
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30"> 

                                <img v-if="trainee.image" class="rounded-circle" :alt="trainee.first_name" width="150" :src="concatImg(trainee.image)">
                                <img v-else class="rounded-circle" :alt="trainee.first_name" width="150" :src="logo">

                                <h4 class="card-title m-t-10">{{ trainee.first_name+' '+trainee.last_name }}</h4>
                                <h6 class="card-subtitle">{{ trainee.email }}</h6>
                            </center>
                        </div>
                    </div>
                
                </router-link>
            </div>
        </div>
        <pagination class="float-left" :limit="5" :data="trainees" @pagination-change-page="getTraineesPaginate"></pagination>

    </div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'

export default {
    components: { VueTimepicker },
    scrollToTop: false,
    mounted()
    {
        this.getCourse();
        this.getTrainees();
    },
    metaInfo () 
    {
        return { title: this.$t('courses') }
    },
    data: () => ({
        trainees: {},
        rank: {},
        logo: '/hdlogo.png',
        btn: 'update',
        overview: {
            title: '',
            facility: '',
            city: '',
            instructor: '',
        }
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        concatImg(img)
        {
            return '/img/lg/'+img;
        },
        getTrainees()
        {
            axios.get('/api/courses/'+this.$route.params.id+'/overview')
            .then(response => {
                this.trainees = response.data.data;
            });
        },
        getCourse()
        {
            axios.get('/api/courses/'+this.$route.params.id)
            .then(response => {
                this.overview.title = response.data.data.title;
                this.overview.facility = response.data.facility;
                this.overview.city = response.data.city;
                this.overview.instructor = response.data.instructor;
                this.rank = response.data.rank;
            });
        },
        getTraineesPaginate(page = 1) 
        {
            axios.get('/api/courses/'+this.$route.params.id+'/overview?page=' + page)
            .then(response => {
                this.trainees = response.data.data;
            });
        }
    }
}
</script>
