<template>
    <div>

        <ul class="nav nav-tabs">
            <li v-for="tab in tabs" :key="tab.route" class="nav-item">
                <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
                    <i class="mdi" :class="tab.icon"></i>
                    {{ tab.name }}
                </router-link>
            </li>
        </ul>
    
        <div class="row">
            <div class="col">
                <transition name="fade" mode="out-in">
                    <router-view />
                </transition>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    middleware: 'auth',

    computed: {
        tabs () {
            return [
                {
                    icon: 'mdi-book-multiple',
                    name: this.$t('details'),
                    route: 'overview.details'
                },
                {
                    icon: 'mdi-book-plus',
                    name: this.$t('schedule'),
                    route: 'overview.schedules'
                },
                {
                    icon: 'mdi-clock',
                    name: this.$t('training_logs'),
                    route: 'overview.logs'
                }
            ]
        }
    }
}
</script>
<style>
.settings-card .card-body {
    padding: 0;
}
</style>
