<template>
    <div>
        <div class="row">
            <div class="col">
                
                <card :title="$t('training_logs')">
                    <div class="card-content animated fadeIn">
                        <div v-if="pulling">
                            <div align="center">
                                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <div v-else>
                            <div v-if="logs.data.length > 0">                        
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>{{ $t('login_time') }}</th>
                                            <th>{{ $t('points') }}</th>
                                            <th>{{ $t('trainee') }}</th>
                                            <th>{{ $t('modify') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="log in logs.data" :key="log.id">
                                            <td>{{ log.login_time }}</td>
                                            <td>{{ log.points }}</td>
                                            <td>{{ log.trainee.first_name+' '+log.trainee.last_name }}</td>
                                            <td>
                                                <a href="#" @click="editLogsModal(log)" class="btn btn-sm btn-success mb-1">
                                                    {{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="alert alert-warning" role="alert" v-else>
                                {{ $t('no_records') }}
                            </div>
                            <pagination :data="logs" @pagination-change-page="getTrainingLogs"></pagination>
                        </div>
                    </div>
                </card> 
            </div>
        </div>

        <div class="modal fade" id="editLogs" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">{{ $t('edit')+' '+trainee.first_name+' '+trainee.last_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateLog">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">{{ $t('points') }}</label>
                                <input v-model="form.points" type="text"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('points') }">
                                <has-error :form="form" field="points"></has-error>
                            </div>
                      
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button type="submit" class="btn btn-primary" :disabled="btn=='updating'">{{ $t('update') }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    scrollToTop: false,
    mounted()
    {
        this.getTrainingLogs();
    },
    metaInfo () 
    {
        return { title: this.$t('courses') }
    },
    data: () => ({
        pulling: true,
        logo: '/hdlogo.png',
        btn: 'update',
        logs: {data:[]},
        trainee: {
            first_name:'',
            last_name:'',
        },
        form: new Form({
            id: '',
            points: 2
        })
    }),
    computed: mapGetters({
        user: 'auth/user'
    }),
    methods: {
        getTrainingLogs(page = 1)
        {
            this.pulling = true;
            axios.get('/api/traininglogs',
            {
                params:{
                    page: page,
                    course_id:this.$route.params.id
                }
            }).then(response => {
                this.logs = response.data.data;
                this.pulling = false;
            });
        },
        editLogsModal(item){
           this.form.clear();
           this.form.reset();
           this.form.fill(item)
           this.trainee = item.trainee;
           $('#editLogs').modal('show');
        },
        updateLog(item){
            this.btn = 'updating';
            this.form.patch('/api/traininglogs/'+this.form.id)
                .then(response => {
                    this.btn = 'update';
                    this.getTrainingLogs();
                    $('#editLogs').modal('hide');
                })
                .catch(()=>{
                  console.log("Error.....");
                  this.btn = 'update';
                })
        },
    }
}
</script>
