<template>
    <div>
        <div class="row">
            <div class="col">
                
                <card :title="$t('schedule')">
                    <div class="card-content animated fadeIn">
                        <a href="#" @click="newSchedule" class="btn btn-sm btn-success mb-1">
                            {{ $t('new_schedule') }} <i class="mdi mdi-plus"></i>
                        </a>
                        <div v-if="pulling">
                            <div align="center">
                                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <div v-else>
                            <div v-if="hasSchedule">                        
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>{{ $t('day') }}</th>
                                            <th>{{ $t('start_time') }}</th>
                                            <th>{{ $t('end_time') }}</th>
                                            <th>{{ $t('modify') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="sched in schedules.data" :key="sched.id">
                                            <td>{{ $t(sched.day) }}</td>
                                            <td>{{ sched.start_time }}</td>
                                            <td>{{ sched.end_time }}</td>
                                            <td>
                                                <a href="#" @click="editSchedule(sched)" class="btn btn-sm btn-success mb-1">
                                                    {{ $t('edit') }} <i class="mdi mdi-account-edit"></i>
                                                </a>
                                    
                                                <a href="#" @click="deleteSchedule(sched.id)" class="btn btn-sm btn-danger mb-1">
                                                    {{ $t('delete') }} <i class="mdi mdi-close"></i>
                                                </a>
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="alert alert-warning" role="alert" v-else>
                                {{ $t('no_records') }}
                            </div>
                        </div>

                    </div>
                </card> 
            </div>
        </div>
        
        <div class="modal fade" id="newSchedule" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">{{ $t('new_schedule') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="createSchedule">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">{{ $t('day') }}</label>
                                <select v-model="form.day" 
                                    name="day"
                                    placeholder="Day"
                                    class="form-control" 
                                    :class="{ 'is-invalid': form.errors.has('day') }">
                                    <option value="monday">{{ $t('monday') }}</option>
                                    <option value="tuesday">{{ $t('tuesday') }}</option>
                                    <option value="wednesday">{{ $t('wednesday') }}</option>
                                    <option value="thursday">{{ $t('thursday') }}</option>
                                    <option value="friday">{{ $t('friday') }}</option>
                                    <option value="saturday">{{ $t('saturday') }}</option>
                                    <option value="sunday">{{ $t('sunday') }}</option>
                                </select>
                                <has-error :form="form" field="day"></has-error>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">{{ $t('start_time') }}</label>
                                        <br>
                                        <vue-timepicker v-model="form.start_time" format="HH:mm:ss" :class="{ 'is-invalid': form.errors.has('start_time') }"></vue-timepicker>
                                        <has-error :form="form" field="start_time" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">{{ $t('end_time') }}</label>
                                        <br>
                                        <vue-timepicker v-model="form.end_time" format="HH:mm:ss" :class="{ 'is-invalid': form.errors.has('end_time') }"></vue-timepicker>
                                        <has-error :form="form" field="end_time" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button type="submit" class="btn btn-primary">{{ $t('update') }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editSchedule" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">{{ $t('new_schedule') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="updateSchedule">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">{{ $t('day') }}</label>
                                <select v-model="editForm.day" 
                                    name="day"
                                    placeholder="Day"
                                    class="form-control" 
                                    :class="{ 'is-invalid': editForm.errors.has('day') }">
                                    <option value="monday">{{ $t('monday') }}</option>
                                    <option value="tuesday">{{ $t('tuesday') }}</option>
                                    <option value="wednesday">{{ $t('wednesday') }}</option>
                                    <option value="thursday">{{ $t('thursday') }}</option>
                                    <option value="friday">{{ $t('friday') }}</option>
                                    <option value="saturday">{{ $t('saturday') }}</option>
                                    <option value="sunday">{{ $t('sunday') }}</option>
                                </select>
                                <has-error :form="editForm" field="day"></has-error>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">{{ $t('start_time') }}</label>
                                        <br>
                                        <vue-timepicker v-model="editForm.start_time" format="HH:mm:ss" :class="{ 'is-invalid': editForm.errors.has('start_time') }"></vue-timepicker>
                                        <has-error :form="editForm" field="start_time" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">{{ $t('end_time') }}</label>
                                        <br>
                                        <vue-timepicker v-model="editForm.end_time" format="HH:mm:ss" :class="{ 'is-invalid': editForm.errors.has('end_time') }"></vue-timepicker>
                                        <has-error :form="editForm" field="end_time" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                            <button type="submit" class="btn btn-primary" :disabled="btn=='updating'">{{ $t(btn) }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import axios from 'axios'
import Swal from 'sweetalert2'
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'

export default {
    components: { VueTimepicker },
    scrollToTop: false,
    mounted()
    {
        this.getSchedules();
    },
    metaInfo () 
    {
        return { title: this.$t('courses') }
    },
    data: () => ({
        hasSchedule: false,
        pulling: true,
        schedules: {},
        logo: '/hdlogo.png',
        btn: 'update',
        overview: {
            title: '',
            facility: '',
            city: '',
            instructor: '',
        },
        form: new Form({
            day: 'monday',
            start_time: '',
            end_time: '',
            course_id: '',
        }),
        editForm: new Form({
            id: '',
            day: '',
            start_time: '',
            end_time: '',
            course_id: '',
        })
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    methods: {
        newSchedule()
        {
            $('#newSchedule').modal('show');
        },
        editSchedule(sched)
        {
            this.editForm.clear();
            this.editForm.reset();
            this.editForm.fill(sched);
            $('#editSchedule').modal('show');
        },
        getTrainees()
        {
            axios.get('/api/courses/'+this.$route.params.id+'/overview')
            .then(response => {
                this.trainees = response.data.data;
            });
        },
        getSchedules()
        {
            this.pulling = true;
            axios.get('/api/schedules/'+this.$route.params.id)
            .then(response => {
                this.hasSchedule = (response.data.data.length>0) ? true:false;
                this.schedules = response.data;
                this.pulling = false;
            });
        },
        updateSchedule()
        {
            this.btn = 'updating';
            this.editForm.patch('/api/schedules/'+this.editForm.id)
            .then(response => {
                $('#editSchedule').modal('hide');
                this.getSchedules();
                this.btn = 'update';
            })
            .catch(()=>{
                console.log("Error.....");
                this.btn = 'update';
            });
        },
        createSchedule()
        {
            this.btn = 'updating';
            this.form.course_id = this.$route.params.id;
            this.form.post('/api/schedules')
            .then(response => {
                $('#newSchedule').modal('hide');
                this.getSchedules();
                this.form.clear();
                this.form.reset();
                this.btn = 'update';
            })
            .catch(()=>{
                console.log("Error.....");
                this.btn = 'update';
            })
        },
        deleteSchedule(id)
        {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {

                if (result.value) {
                    
                    axios.delete('/api/schedules/'+id)
                    .then((response)=> {

                        Swal.fire(
                          'Deleted!',
                          'Schedule deleted successfully',
                          'success'
                        );

                        this.getSchedules();

                    }).catch((e) => {

                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: ''
                        });
                    });
                }
            })
        }
    }
}
</script>
