<template>
  <div>
    <navbar />
    <div class="page-wrapper">
        
        <div class="container-fluid">
            
            <child />
            
        </div>
        <footer class="footer text-center">
            
        </footer>
        
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'

export default {
  name: 'MainLayout',

  components: {
    Navbar
  }
}
</script>
